/*

friend blue: #2481D7
friend grey: #808080;

*/

/* because theme css lolll */
.IconButton:hover {
	border : 1px solid transparent;
}

#hello .Off {
	color            : transparent;
	background-color : transparent;
}

.led-status {
	position: relative;
	overflow: hidden;
}

.led-status > div {
	width : 100%;
	height : 100%;
}

.Loading > * {
	visibility: hidden;
	background-color : #444;
}

.fa {
	font-size: 120%;
}

* { box-sizing: border-box; }

a { color : rgb( 41, 98, 126 ); }
a:hover { color : rgb( 0, 64, 97 ); }
a:visited { color : rgb( 123, 123, 123 ); }

body {
	padding: 0;
	margin: 0;
}

form {
	margin : 0;
}

body.app-offline {
	opacity          : 0.2;
	background-color : #000;
}

body.app-offline textarea,
body.app-offline button,
body.app-offline input {
	opacity        : 0.5;
	pointer-events : none;
}

body i.fa {
	font-size: 115%;
}

.rounded {
	border-radius: 0.1em;
}

.button {
	background-blend-mode : luminosity;
	display : inherit;
}

/*
.button.accept,
.button.danger,
.button.disabled {
	background: none;
}
*/

/*
.button.accept { background-color : rgb( 81, 144, 57 ); }
.button.accept:hover { background-color : rgb( 151, 209, 55 ); }
.button.danger { background-color : rgb( 152, 59, 37 ); }
.button.danger:hover { background-color : rgb( 239, 101, 59 ); }
.button.disabled {
	color : rgb( 123, 123, 123 );
	background-color : rgb( 80, 80, 80 );
}
.button.disabled:hover {
	color : rgb( 123, 123, 123 );
	background-color : rgb( 80, 80, 80 );
}
*/

/*
.btn { background-color : rgb( 59, 129, 194 ); }
.btn:hover { background-color : rgba( 94, 198, 237, 1 ); }

.btn,
.btn:hover,

*/
.button,
.button:hover {
	transition : all 0.2s;
}

.button.flat {
	border-radius: 0;
	margin : 0;
}

.button .text {
	padding-left : 0.5em;
}

.button-row {
	flex-wrap: wrap;
}

.button-row > .button {
	margin-right : 0;
	margin-left : 0.3em;
	margin-bottom : 0.2em;
}

.pad {
	padding: 2em 0.75em;
}

.pad-iso {
	padding : 0.5em 0.5em;
}

.pad-light {
	padding : 1em 0.5em;
}

.text-pad {
	padding-left: 1em;
}

.inline {
	display: inline-block;
}

/* color codez - TODO use friendUP themes ones */
.good {
	color : rgb( 81, 144, 57 );
}

.changed,
.Changed {
	color : rgb( 149, 128, 8 );
}

.working,
.Working {
	color : rgb( 26, 139, 196 );
}

.notify,
.Notify
{
	color: rgba( 244, 160, 31, 1 );
	-webkit-animation: notification-blink 2s ease-in-out infinite alternate;
	animation: notification-blink 2s ease-in-out infinite alternate;
}

@-webkit-keyframes notification-blink {
	from { color: rgba( 244, 160, 31, 1 ); }
	to { color: rgba( 255, 208, 85, 1 ); }
}
@keyframes notification-blink {
	from { color: rgba( 244, 160, 31, 1 ); }
	to { color: rgba( 255, 208, 85, 1 ); }
}

.bad {
	color : rgb( 152, 59, 37 );
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#hello .blink-green {
	-webkit-animation : green-blink 2s ease-in-out infinite alternate;
	animation : green-blink 2s ease-in-out infinite alternate;
}

@-webkit-keyframes green-blink {
	from { background-color : rgb( 81, 144, 57 ); }
	to { background-color : rgb( 151, 209, 55 ); }
}

@keyframes green-blink {
	from { background-color : rgb( 81, 144, 57 ); }
	to { background-color : rgb( 151, 209, 55 ); }
}

#hello .blink-yellow {
	-webkit-animation : yellow-blink 0.7s ease-in-out infinite alternate;
	animation : yellow-blink 0.7s ease-in-out infinite alternate;
}

@-webkit-keyframes yellow-blink {
	from { background-color : rgb( 192, 186, 0 ); }
	to { background-color : rgb( 255, 251, 137 ); }
}

@keyframes yellow-blink {
	from { background-color : rgb( 192, 186, 0 ); }
	to { background-color : rgb( 255, 251, 137 ); }
}

#hello .blink-red {
	-webkit-animation : blink-red 0.7s ease-in-out infinite alternate;
	animation : blink-red 0.7s ease-in-out infinite alternate;
}

@-webkit-keyframes blink-red {
	from { background-color : rgb( 152, 59, 37 ); }
	to { background-color : rgb( 239, 101, 59 ); }
}

@keyframes blink-red {
	from { background-color : rgb( 152, 59, 37 ); }
	to { background-color : rgb( 239, 101, 59 ); }
}


/* flex */

.group,
.bar {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content : space-between;
}

.group.baseline,
.bar.baseline
{
	align-items: baseline;
}

.group.row,
.bar.row { flex-direction : row; }

.group.column,
.bar.column { flex-direction : column; }

.bar.row,
.bar.column { align-items : stretch; }

.group.tighten,
.bar.tighten { justify-content : space-around; }

.group.center,
.bar.center { justify-content : center; }

.group.start,
.bar.start { justify-content : flex-start; }

.group.end,
.bar.end { justify-content : flex-end; }

.group.left,
.bar.left { align-items : flex-start; }

.group.right,
.bar.right { align-items : flex-end; }

.group.cover,
.bar.cover { align-items : stretch; }

.group.allow-wrap,
.bar.allow-wrap { flex-wrap : wrap; }

.group > .expand,
.bar > .expand { flex : 1 1 auto; }

.group > .fortify,
.bar > .fortify { flex : 0 0 auto; }

.group > .center,
.bar > .center { align-self : center; }

.center-child {
	display : flex !important;
	flex-direction: row;
	justify-content : center;
	align-items : center;
}

.flex-reset {
	position: relative;
}

.flex-reset > div {
	position: absolute;
	top : 0;
	left : 0;
	bottom : 0;
	right : 0;
	overflow: hidden;
	text-overflow : ellipsis;
}

.horizontal-center {
	position: absolute;
	top : 0;
	left: 50%;
	transform : translateX( -50% );
}

/* grid */

.grid-row {
	display: inline-grid;
}

/* common */


#hello {
	box-sizing : border-box;
	height: 100%;
}
#hello * { box-sizing: border-box; }

#head,
#main,
#foot {
	position: relative;
}

#head {
	height: 2.5em;
	flex : 0 0 auto;
}

#main {
	background-color: inherit;
	overflow: auto;
	flex : 1 1 auto;
}

#foot {
	flex : 0 0 auto;
}

#fragments {
	display: none;
}

.head-info,
.foot-info {
	text-align: center;
}

html body .displayNone {
	display: none;
}

.dropdown {
	border-radius: 3px;
}

.dropdown > div {
}

.dropdown > div:hover {
	background-color: #3B81C2;
	color: white;
}

#hello-overview {
	justify-content : space-between;
}

#hello-availability-status {
	padding-left: 0.5em;
	flex: 0 0 auto;
}

#hello-contactlistAdmin {
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;
}
#hello-contactlistAdmin > div,
#hello-account-foot > div {
	flex: 0 0 auto;
	text-align:center;
}

#hello-account-content {
	flex : 1 1 auto;
}

#hello-account-info > * {
	text-align:center;
}

.hello-style * {
	box-sizing: border-box;
}

.input-wrap {
	
}

.input-wrap input {
	line-height: 1.4em;
	width : 100%;
}

.textarea-wrap {
	
}

.textarea-wrap textarea {
	outline     : none;
	width       : 100%;
	height      : 2.4em;
	padding     : 0.5em;
	border      : none;
	resize      : none;
	line-height : 1.4em;
	overflow-y  : hidden;
	transition  : height 0.1s;
}

.textarea-wrap.two-lines textarea {
	height: 3.8em;
}

.textarea-wrap.three-lines textarea {
	height: 5.2em;
}

.item-row > * {
	margin : 0 0.2em;
}


/* Status indicator classes */

.status-indicator {
	
}

.icon-status {
	height : 2em;
	width : 2em;
	font-size: 100%;
}

.status-display .display-area {
	padding : 0 0.2em;
	font-weight: bold;
	opacity: 0.8;
}

.avatar > i {
    font-size : 160%;
}

.avatar-status {
    position : absolute;
    right    : -0.3em;
    bottom   : -0.3em;
}

.led-online-status {
    height : 1.2em;
    width : 1.2em;
    border-radius: 0.7em;
}

.led-participants-status {
    height : 1.44em;
    width : unset;
    border-radius: 0.8em;
}

.led-participants-status > div {
    min-width: 1.1em;
}

.led-participants-status .display-area {
    font-size: 0.7em;
}

.led-unread-status {
    height: 1.3em;
    border-radius: 0.65em;
}

.led-unread-status > div {
    min-width: 1.3em;
}

.led-unread-status .display-area {
    font-size: 0.9em;
}


/* FOLDIT */
div.foldit-status {
	flex: 0 0 auto;
	padding-left: 0.5em;
}

.foldit-status i {
	transition : all 0.2s;
}

.foldit-status .slide-container {
	position : relative;
	overflow : hidden;
	width:100%;
	height:1.3em;
}
.foldit-status .slider {
	position : absolute;
	width : 100%;
	padding : 0.4em 0;
	height :300%;
	top : 0%;
	display : flex;
	flex-direction : column;
	justify-content : space-between;
	align-items : center;
	transition: top 0.4s ease-in;
}

.foldit-status .slider > div {
	flex: 0 0 auto;
}

.foldit .slider.fold {
	top : -200%;
}

.fold-arrow {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fold-arrow > div {
	flex: 0 0 auto;
	border-bottom: 4px solid rgb( 230, 230, 230 );
	border-right: 4px solid rgb( 230, 230, 230 );
	border-radius: 1px;
	width: 8px;
	height: 8px;
}
.fold-arrow.down > div {
	-webkit-transform: rotate( 45deg );
	transform: rotate( 45deg );
}

.fold-arrow.up > div {
	-webkit-transform: rotate( -135deg );
	transform: rotate( -135deg );
}

.foldee {
	overflow:hidden;
	/*transition: height 0.2s ease-in;*/
}

.foldee.fold {
	height:0px !important;
}

/* FORM OVERLAY */

* .overlay {
	position:absolute;
	top:0em;
	right:0em;
	bottom:0em;
	left:0em;
}

.form-overlay {
	position : absolute;
	top : 0em;
	left : 0em;
	right : 0em;
	bottom : 0em;
	background-color: #eee;
	z-index: 999;
}

.form-overlay .position {
	height: 100%;
	width: 100%;
}

.form-overlay .content {
	width: 80%;
	min-width: 5em;
	overflow : hidden;
}

.form-overlay .message-container {
	
}

.form-overlay .spinner i {
	font-size: 350%
}

.form-overlay .message {
	color: #444;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.form-overlay .form-overlay-message {
	line-height : 2em;
	padding: 1em;
	border : 4px solid #ddd;
	border-radius : 3px;
}

.form-overlay-message.request-error {
	background-color : rgb( 228, 157, 124 );
	border-color: rgb( 152, 59, 37 );
}

.form-overlay-message.request-success {
	background-color : rgb( 177, 228, 124 );
	border-color: rgb( 81, 144, 57 );
}

.option-menu-container {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
}

.option-menu-container.show {
	display : block;
}

.option-menu-container > div {
	width: 100%;
	height: 100%;
}

.option-menu {
	padding : 0.2em;
	border-radius : 2px;
}

.option-menu .title {
	font-size: 120%;
	margin: 0.3em 1em;
	padding-bottom : 0.3em;
	text-align: center;
}

.option-menu .menu-item {
	line-height : 2em;
	padding: 0 0.4em;
}

.option-menu .menu-item:hover {
	/*
	background-color: #3B81C2;
	color : white;
	*/
}

.option-menu .menu-item .description {
	padding-left: 0.5em;
	text-align: left;
}

#buttonpointer {
	position: absolute;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;
	padding: 2em 10%;
}

#buttonpointer .title,
#buttonpointer .text {
	color : rgb( 60, 60, 60);
	font-size: 110%;
	line-height: 2em;
}

#buttonpointer .title {
	font-size: 150%;
}

#buttonpointer .text .emo {
	font-size: 170%;
}

#buttonpointer .native-menu-pointer {
	float : left;
	height : 150px;
	width : 80px;
	margin-right : 2em;
	background-image: url( ../gfx/buttonpointer.png );
}

#buttonpointer .app-menu-pointer {
	float : right;
	height : 150px;
	width : 80px;
	background-image: url( ../gfx/buttonpointer.png );
}

/* Ping Bar */
.ping-bar {
	height : 1.8em;
}

.ping-bar-icon {
	width: 2em;
	padding : 2px 0;
}

.ping-bar-label {
	width : 4em;
}

.ping-bar-content {
	height : 100%;
	width  : 4em;
}

.ping-bumps,
.ping-bar-info {
	height  : 100%;
	padding : 3px 0;
}

.ping-bar-info {
	width : 2em;
}

.ping-bumps .ping-bump {
	width        : 0.5em;
	height       : 100%;
	margin-right : 1px;
	opacity      : 1;
	transition   : opacity 0.5s;
}

.ping-bumps .ping-bump.hide-bump {
	opacity: 0;
	transition : opacity 0.5s;
}

/* NESTED APP */
.nested-app {
	position: relative;
}

.nested-app iframe {
	border : none;
	width  : 100%;
	height : 100%;
}

.nested-app .nested-close {
	position: absolute;
	top              : 0;
	right            : 0;
	width            : 1.5em;
	height           : 1.5em;
	background-color : rgba( 0, 0, 0, 0.7 );
	color            : white;
}

.nested-app .nested-close:hover {
	color : red;
}

/*
	Conn state
*/
#conn-state {
	padding : 1em;
}

#conn-state-head {
	font-size     : 130%;
	margin-bottom : 0.3em;
}

.paddddd {
	padding : 0.5em;
}

.conn-state-head {
	padding : 0.5em;
}

.conn-state-head > div {
	margin : 0 0.3em;
}

#conn-state-error-head {
	border-radius : 3px;
}

#conn-state-loading > div,
#conn-state-connecting > div {
	margin-left : 0.3em;
}

#conn-state-connecting {
	line-height: 2.5em;
}

#conn-state-rc-bar-container {
	position     : relative;
	margin-left  : 0.2em;
	height       : 0.7em;
}

#conn-state-rc-bar {
	position      : absolute;
	left          : 0;
	height        : 100%;
	border        : 2px solid rgba( 30, 30, 30, 0.5 );
	border-radius : 2px;
}

/* importanter than other importants */
html body .hidden {
	display: none !important;
}

/* search */

#search-bar {
	padding : 0.5em 0;
	padding-left : 0.8em;
}

.search-input-content {
	position: relative;
}

.search-input-content input,
.search-input-content i {
	line-height: 2.2em;
}

.search-input-content .input-action {
	padding  : 0 0.5em;
	opacity  : 0.7;
	position : absolute;
	top      : 0;
	right    : 0;
}

.search-input-content .input-wrap {
	
}

.search-results {
	height : 100%;
}

.search-ongoing {
	padding : 0.5em 0;
}

.search-ongoing i {
	margin-right : 0.3em;
}

.search-results-content {
	overflow: auto;
}

.search-result-pool {
	padding-top  : 0.3em;
}

.search-result-pool > .name {
	padding     : 0.5em;
	font-size   : 110%;
	font-weight : bold;
	opacity     : 0.8;
}

.search-result-pool > .content {
}

.search-result-contact,
.search-result-room {
	padding : 0.5em;
	margin-bottom : 0.1em;
}

.search-result-room .avatar,
.search-result-contact .avatar {
	width               : 2.5em;
	height              : 2.5em;
	background-color    : transparent;
	border-radius       : 100%;
	background-position : center center;
	background-size     : cover;
}

.search-result-room .avatar {
	border-radius : 2px;
}

.search-result-subscribe {
	height: 100%;
	width : 100%;
}

.search-result-room .item-info,
.search-result-contact .item-info {
	padding-left : 0.5em;
	overflow     : hidden;
}

.search-result-room .name,
.search-result-contact .name {
	font-size   : 110%;
	font-weight : bold;
}

.search-result-contact .hacker-name {
}

/* mini menu */

.mini-menu {
	position: absolute;
	top     : 0;
	right   : 0;
	bottom  : 0;
	left    : 0;
	z-index : 999;
}

.mini-menu-cover {
    position: absolute;
    top           : 0;
    left          : 0;
    width         : 100%;
    height        : 100%;
    background    : rgba(0,0,0,0);
}

.mini-menu-content {
	position      : absolute;
	border-radius : 0.2em;
	outline       : none;
	overflow      : auto;
}

.mini-menu-option {
	
}

.mini-menu-option .name {
	padding : 0 0.5em;
}

.item-menu {
	align-self  : stretch;
	margin-left : 0.3em;
}

/* LiveStatus */

#hello .live-status {
	border-radius: 3em;
	padding : 0.3em;
}

.live-status-icon {
	margin-left : 0.2em;
}

.live-status-peers {
}

.live-status-peer {
	margin-right : 0.2em;
}

.live-status-peer .avatar {
	height : 1.7em;
	width  : 1.7em;
}
