
.main-container {
	position: relative;
	flex: 1 1 auto;
	overflow: auto
}

#message-container {
	width: 100%;
	position : relative
}

#messages {
	position : absolute;
	bottom : 0px;
	max-height : 100%;
	width : 100%;
	overflow : auto;
}

#input-form {
}

#input-form .slash-prefix {
	padding: 0 0.3em 0 0.5em;
	font-weight: bold;
}

#input-form input {
	border: none;
	height:100%;
	width:100%;
}

#input-type > .button:last-child {
	margin-left : 0.2em;
}

.input-wrap {
	padding : 0;
}

#input-form > .actions {
	flex: 0 0 3em;
	width : 3em;
}

.message {
	padding:0 0.3em 0.3em 0.3em;
	line-height: 1.5em;
}

#messages .Log {
}

.time {
	padding: 0 0.2em;
}

.content {
	padding: 0 0.2em;
	max-width: 100%;
	word-break: break-word;
}