@charset "UTF-8";
@font-face {
	font-family : qweasd;
	/*src : url( '/webclient/apps/FriendChat/res/NotoColorEmoji.ttf' );
	wont load on windows
	also, is 6mb lol
	*/
	src : url( '/webclient/apps/FriendChat/res/NotoEmoji-Regular.ttf' );
}

/* EMOS */
i.pictograph
{
	font-family: qweasd;
	display: inline-block;
	text-rendering: auto;
	font-style: normal;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	font-size : 170%;
	padding: 0.2em;
}

.emo-ok:before { content : "👍"; }
.emo-angel:before { content : "😇"; }
.emo-angry:before { content : "😠"; }
.emo-blow-kiss:before { content : "😘"; }
.emo-cool:before { content : "😎"; }
.emo-confused:before { content : "😮"; }
.emo-devil:before { content : "😈"; }
.emo-hearts:before { content : "😍"; }
.emo-laugh:before { content : "😄"; }
.emo-info:before { content : "ℹ"; }
.emo-sad:before { content : "😞"; }
.emo-sleep:before { content : "😴"; }
.emo-smile:before { content : "😊"; }
.emo-grin:before { content : "😀"; }
.emo-smile-tounge:before { content : "😺"; }
.emo-surprise:before { content : "😲"; }
.emo-wink:before { content : "😋"; }
.emo-unimpressed:before { content : "😶"; }
.emo-hooray:before { content : "🙌"; }
.emo-alien:before { content : "👽"; }
.emo-imnothere:before { content : "😓"; }
.emo-beer:before { content : "🍻"; }
.emo-martini:before { content : "🍸"; }
.emo-cherry:before { content : "🍒"; }
.emo-thumbup:before { content : "👍"; }
.emo-thumbdown:before { content : "👎"; }
.emo-hogne,
.emo-trump {
	width : 5em;
	height: 5em;
	background-image: url( https://beta.openfriendup.net:6503/sharedfile/bd27ce9c891f9166a2b1b1d1f7a25eb1/selfish.png );
}

.emo-sokken {
	width  : 5em;
	height : 5em;
	background-image : url( https://treeroot.org/subether/upload/profile/156/album/profile%20pictures/also_Cat_Typing_small.gif );
}

.emo-cat:before { content : "🐱"; }
.emo-sick:before { content : "😷"; }
.emo-cake:before { content : "🍰"; }
.emo-cow:before { content : "🐮"; }
.emo-shrug:before { content : "🤷"; }
.emo-octopus:before { content : "🐙 "; }
.emo-snake:before { content : "🐍"; }
.emo-train:before { content : "🚅"; }
.emo-plane:before { content : "✈️"; }
.emo-rocket:before { content : "🚀"; }
.emo-tophat:before { content : "🎩"; }
