@charset "UTF-8";
	/*
@font-face {
	font-family : qweasd;
	src : url( '/webclient/apps/FriendChat/res/NotoColorEmoji.ttf' );
	wont load on windows
	also, is 6mb lol
	src : url( '/webclient/apps/FriendChat/res/NotoEmoji-Regular.ttf' );
}
	*/

/* EMOS */
i.pictograph
{
	font-family         : qweasd;
	display             : inline-block;
	text-rendering      : auto;
	font-style          : normal;
	background-repeat   : no-repeat;
	background-position : center center;
	background-size     : contain;
	font-size           : 170%;
	padding             : 0.2em;
}

.emo-ok:before { content : "\01F44D"; }
.emo-angel:before { content : "\01F607"; }
.emo-angry:before { content : "\01F620"; }
.emo-blow-kiss:before { content : "\01F618"; }
.emo-cool:before { content : "\01F60E"; }
.emo-confused:before { content : "\01F62E"; }
.emo-devil:before { content : "\01F608"; }
.emo-hearts:before { content : "\01F60D"; }
.emo-laugh:before { content : "\01F603"; }
.emo-info:before { content : "\02139"; }
.emo-sad:before { content : "\01F614"; }
.emo-sleep:before { content : "\01F634"; }
.emo-smile:before { content : "\01F60A"; }
.emo-grin:before { content : "\01F603"; }
.emo-smile-tounge:before { content : "\01F63A"; }
.emo-surprise:before { content : "\01F632"; }
.emo-wink:before { content : "\01F61C"; }
.emo-unimpressed:before { content : "\01F636"; }
.emo-hooray:before { content : "\01F64C"; }
.emo-alien:before { content : "\01F47D"; }
.emo-imnothere:before { content : "\01F613"; }
.emo-beer:before { content : "\01F37B"; }
.emo-martini:before { content : "\01F378"; }
.emo-cherry:before { content : "\01F352"; }
.emo-thumbup:before { content : "\01F44D"; }
.emo-thumbdown:before { content : "\01F44E"; }
.emo-hogne,
.emo-trump {
	width : 5em;
	height: 5em;
	background-image: url( https://beta.openfriendup.net:6503/sharedfile/bd27ce9c891f9166a2b1b1d1f7a25eb1/selfish.png );
}

.emo-sokken {
	width  : 5em;
	height : 5em;
	background-image : url( https://treeroot.org/subether/upload/profile/156/album/profile%20pictures/also_Cat_Typing_small.gif );
}

.emo-cat:before { content : " \01F431"; }
.emo-sick:before { content : " \01F637"; }
.emo-cake:before { content : "\01F370"; }
.emo-cow:before { content : "\01F42E"; }
.emo-shrug:before { content : "\01F937"; }
.emo-octopus:before { content : "\01F419 "; }
.emo-snake:before { content : "\01F40D"; }
.emo-train:before { content : "\01F682"; }
.emo-plane:before { content : "\01F6E9"; }
.emo-rocket:before { content : "\01F680"; }
.emo-tophat:before { content : "\01F3A9"; }