.link-expand {
	overflow: hidden;
	white-space : normal;
}

.link-expand-ui {
	position : absolute;
	top      : 0.9em;
	left     : 0.9em;
	z-index  : 1;
	border-radius: 1.25em;
}

.link-expand-ui > .button {
}

.pre-icon {
	width : 2.5em;
	height: 2.5em;
}

.link-expand-ui .raw-link {
	width : 0em;
	position : relative;
}

.link-expand-ui:hover .raw-link {
	width         : unset;
	padding-right : 0.7em;
	max-width     : 10em;
}

/*
.link-expand-ui .raw-link > div {
	position : absolute;
	top      : 0;
	right    : 0;
	left     : 0;
}
*/

.link-expand-ui .raw-link a {
	display       : inline-block;
	width         : 100%;
	overflow      : hidden;
	text-overflow : ellipsis;
	white-space   : nowrap;
}

.link-expand-content {
	position: relative;
	max-width: 80%;
	margin : 0.4em;
}

.link-expand .link-expand-video,
.link-expand .link-expand-image {
	max-height    : 10em;
	max-width     : 100%;
	min-height    : 3.5em;
	border-radius : 0.2em;
}

.link-expand .link-expand-video,
.link-expand .link-expand-audio {
	margin-top : 3.2em;
}

.link-expand .link-expand-image {
	object-fit: cover;
	border: 0.2em solid rgba( 130, 130, 130, 0.3 );
}

.link-expand .link-expand-file {
	width : 64px;
	height: 64px;
	background-size: contain;
	background-repeat: none;
}
