
body#hello i.fa {
	font-size: 120%;
}

#hello {
	background-color : rgb( 30, 30, 30 );
}

body#hello,
body#hello.Loading {
	background-color: #222 !important;
}

#live {
	position : relative;
	color    : #eee;
	height   : 100%;
}

#init-cover {
	z-index          : 999;
	background-color : #222;
}

#lists-container {
	
}

#lists-container > div {
	position   : relative;
	transition : width 0.2s;
}
#lists-container > div:not( .hide ) { margin-right : 2px; }

/* order is extra important for these */
.live-list-container.peek { width : 2.5em; }
.live-list-container.show { width : 10em; }
.live-list-container.hide {	width : 0em; }
.live-list-container.full {
	width : 100%;
}

.live-list {
	color  : #eee;
	height : 100%;
}

.list-head {
	overflow                  : hidden;
	border-bottom-left-radius : 3px;
}

.live-list-container:not(.full) .list-head:hover {
	background-color : rgb( 90, 90, 90 );
}

.list-head-icon {
	width  : 2.5em;
	height : 100%;
}

.list-label {
	font-weight : bold;
}

.list-head,
.live-list-item {
	height : 2.5em;
	width  : 100%;
}


#audio-list.large-items .list-items {
	flex-flow     : wrap;
	align-content : space-around;
}

.list-items {}

.live-list-item:nth-child(2n-1) {
	background-color : rgb( 30, 30, 30 );
}

.item-head {
	width  : 2em;
	height : 100%;
}

.item-label {
	padding     : 0.4em;
	text-align  : left;
	white-space : nowrap;
}

#peer-container {
	position : relative;
}

#peer-grid {
	position: relative;
}

#peer-list {
	
}

.std-bg {
	background-color: rgba( 0, 0, 0, 0.9 );
}

.solid-bg {
	background-color : #333;
}

.grad-bg-down {
	background : linear-gradient( rgba( 30, 30, 30, 0.9 ), rgba( 30, 30, 30, 0.5 ));
}

.grad-bg-up {
	background : linear-gradient( rgba( 30, 30, 30, 0.5 ), rgba( 30, 30, 30, 0.9 ));
}

.btn,
.mini-rtc-spinner > div,
.std-icon {
	position: relative;
	width: 2.5em;
	height: 2.5em;
	display : flex !important;
	flex-direction: row;
	justify-content : center;
	align-items : center;
	border-radius: 3px;
}

.std-icon,
.btn {
	opacity: 0.6;
}

.btn.text {
	width   : auto;
	padding : 0 0.5em;
}

.list-head-icon {
	color : #bbb;
}

.btn {
	color            : #fff;
	background-color : unset;
	transition       : opacity 0.1s;
}

.btn:hover {
	opacity    : 0.8;
	transition : opacity 0.1s;
}

.btn.accept,
.btn.available,
.btn.danger,
.btn.warning {
	opacity          : 0.8;
	transition: opacity 0.1s;
	background-color : unset;
}

.btn.accept { color : rgb( 148, 255, 42 ); }
.btn.accept:hover {}
.btn.available { color : rgb( 53, 205, 255 ); }
.btn.available:hover {}
.btn.danger { color : rgb( 255, 65, 17 ); }
.btn.danger:hover {}
.btn.warning { color : rgb( 255, 183, 42 ); }
.btn.warning:hover {}
.btn.disable {
	opacity : 0.3;
}
.btn.disable:hover {
	opacity : 0.3;
}

.btn.accept:hover,
.btn.available:hover,
.btn.danger:hover,
.btn.warning:hover {
	opacity    : 1;
	transition : opacity 0.1s;
}

.btn.glow.danger {
	text-shadow: 0 0 1em #ff0b0b, 0 0 1em #ff0b0b;
	animation : danger-pulse 1s ease-in-out infinite alternate;
}

@keyframes danger-pulse {
	from { color : rgb( 255, 110, 0 ); }
	to { color : rgb( 255, 219, 20 ); }
}

.btn.glow.available {
	text-shadow: 0 0 1em #0bd7ff, 0 0 1em #0bd7ff;
	animation : available-pulse 1s ease-in-out infinite alternate;
}

@keyframes available-pulse {
	from { color : rgb( 20, 153, 255 ); }
	to { color : rgb( 53, 205, 255 ); }
}


.btn-row {}

.btn-row > .btn { margin-left : 2px; }
.btn-row > .btn:first-child { margin-left : 0px; }

.item-row {}

.item-row > div { margin : 0 0 0 2px; }
.item-row > div:first-child { margin-left : 0px; }


.btn.menu {
	display : block;
}

.btn .base {
	width  : 100%;
	height : 100%;
}

.btn.round-bg {
	border-radius    : 100%;
	color            : #111;
	background-color : #aaa;
	border           : 2px solid #aaa;
}

.btn.round-bg.inverted {
	color            : #fff;
	background-color : transparent;
}

.btn.round-bg.danger {
	color            : #fff;
	background-color : #bb0000;
	border-color     : #bb0000;
}

.btn.round-bg.inverted.danger {
	border-color : #aaa;
}

.btn.inverted .svg {
	fill : red;
}

svg.svg {
	background-position : center;
	background-size     : contain;
	background-repeat   : no-repeat;
	height              : 1.3em;
	width               : 1.3em;
}

i.svg.camera-on {
	background-image : url( /webclient/apps/FriendChat/gfx/Camera.svg );
}

i.svg.camera-off {
	background-image : url( /webclient/apps/FriendChat/gfx/Camera_Alt.svg );
}

.abs-center {
	position  : absolute;
	top       : 50%;
	left      : 50%;
	transform : translate( -50%, -50% );
}

.abs-cover {
	position : absolute;
	top      : 0;
	right    : 0;
	bottom   : 0;
	left     : 0;
}

.peer {
	position: relative;
	overflow: hidden;
	color : white;
}

.peer.no-avatar {
	background-color : #111;
}

.peer.no-avatar .avatar {
	display: none;
}

.peer.in-grid {
	border-radius: 3px;
	border: 2px solid transparent;
}

.peer .stream-container {
	position : relative;
	width    : 100%;

}

#selfie.popped .stream-container {
	height: 3.5em;
	overflow : hidden;
}

.peer .avatar {
	position : absolute;
	top    : 0;
	right  : 0;
	bottom : 0;
	left   : 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.peer:not( .popped ).in-grid .avatar {
	top    : 1px;
	right  : 1px;
	bottom : 1px;
	left   : 1px;
}

.peer .video {
	-webkit-transform : translateZ( 0 );
}

.peer .video {
	position : absolute;
	top : 50%;
	left: 50%;
	transform : translate( -50%, -50% );
}

.peer .visualizer {
	position: absolute;
}

.peer .grid-ui {
	display : none;
	opacity: 0;
	transition : opacity 0.2s;
}

.peer:not( .popped ).in-grid .grid-ui {
	display: flex;
}

.peer .list-ui {
	display : none;
}

.peer.in-list.list-large {
	flex    : 1 1 auto;
	padding : 1em;
	max-width: 20em;
}

.peer.in-list .list-ui {
	display          : flex;
	flex-direction   : row;
	align-items      : center;
	background-color : transparent;
	border-radius    : 3px;
}

.peer.in-list.list-large .list-ui {
	flex-direction  : column;
	align-items     : center;
	justify-content : center;
	height          : unset;
}

.peer.in-list .stream-container {
	display : none;
}

.list-ui .list-peer-state {
	flex          : 0 0 auto;
	position      : relative;
	width         : 2.5em;
	height        : 2.5em;
	border-radius : 3px;
	border        : 2px solid transparent;
	transition    : border-color 0.2s;
	overflow      : hidden;
}

.list-ui .list-peer-state:hover {
	transition   : border-color 0.2s;
	border-color : #eee;
}

.peer.in-list.speaker .list-peer-state {
	transition       : background-color 0.2s;
	background-color : #a7d873;
}

.peer.in-list.list-large .list-peer-state {
	height : 4em;
	width  : 4em;
}

.list-ui .list-peer-state > div {
	position: absolute;
	top    : 0;
	left   : 0;
	bottom : 0;
	right  : 0;
}

.list-ui .list-avatar {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-radius: 100%;
}

.list-ui .list-is-speaking {
	display : none;
}

.peer.speaker .list-ui .list-is-speaking {
	display: flex;
}

.peer:not(.list-large) .list-ui .name {
	padding-left : 0.5em;
}

.list-ui .name {
	line-height: 2em;
}

.peer .name-bar {
	padding : 0 0.6em 0 0.2em;
	display : none;
}

.peer:hover .name-bar {
	display: flex;
}

#session-duration {
	padding-right : 0.3em;
}

.peer .name-bar .name,
#session-duration .time {
	line-height: 2em;
}

#session-duration .time {
	padding-right : 0.2em;
}

.peer .ui-view {
	position: relative;
	overflow : hidden;
}

.peer .ui-peer-top-bar {
	
}

.peer .ui-peer-info {
	border-bottom-right-radius: 0.2em;
}

#selfie {
	
}

#selfie .time {
	color : rgb( 190, 190, 190 );
}

#selfie.popped {
	position: absolute;
	top    : 0.7em;
	right  : 0.7em;
	width  : auto;
	height : auto;
	border : 2px solid black;
	border-radius : 3px;
	z-index : 333;
}

#popped-ui {
	display    : none;
	transition : opacity 0.1s;
	border-top : 2px solid black;
	overflow   : hidden;
	height     : 0em;
}

.show-ui #popped-ui {
	height: auto;
}

#selfie.popped #popped-ui {
	display: flex;
}

.peer:not(.popped ).quality-low .video {
	transform : scale( 2 ) translate( -25%, -25% );
}

#chat-pane {
	border-bottom : 2px solid rgba( 255, 255, 255, 0.15 );
	max-width : 35em;
	position: relative;
}

#chat-pane-close {
	position : absolute;
	top      : 0;
	right    : 0;
	z-index  : 23;
}

#live-chat {
	position: relative;
	width : 100%;
	height: 100%;
}

#live-chat-message-container {
	position: relative;
}

#live-chat-messages {
	position: absolute;
	bottom : 0px;
	max-height: 100%;
	width : 100%;
	padding : 0.5em;
	overflow: auto;
}

#live-chat .chat-message {
	margin-bottom : 0.3em;
	max-width: 100%;
}

#live-chat .chat-message .from {
	font-weight: bold;
}

#live-chat .message {
	color : rgb( 220, 220, 220 );
	padding : 0.3em 0.5em;
	max-width: 100%;
	word-break : break-word;
	white-space : pre-wrap;
}

#live-chat-container:hover #chat-close {
	opacity: 1;
}

#live-chat-form .input-hint,
#live-chat-form .btn {
	height: 2.5em;
	width: 2.5em;
}

#live-chat-form {
	border-top : 2px solid rgba( 255, 255, 255, 0.15 );
}

#live-chat-form .input-input {
	position: relative;
	height : 2.5em;
}

#live-chat-form textarea {
	width : 100%;
	height: 100%;
	border : none;
	outline : none;
	line-height: 1.2em;
	color : white;
	font-size: 110%;
	background-color: rgba( 0, 0, 0, 0.8 );
}

.selfie .is-typing {
	padding: 0.5em;
	padding-top : 0;
	margin-top : -0.5em;
}

.selfie .is-typing-icon {
	
}

.selfie .is-typing-name {
	padding-left : 0.5em;
}

#tease-chat-container {
	margin : 0;
}

#tease-chat {
	margin-left : 2px;
	max-height: 2.5em;
	overflow: hidden;
}

#tease-chat-num {
	margin-left : 0.2em;
}

#tease-chat-msg {
}

#tease-chat-msg.show-tease {
}

#tease-message-from,
#tease-message {
	padding : 0 0.4em;
}

#tease-message {
	max-width : 10em;
	overflow: hidden;
	text-overflow : ellipsis;
	white-space: nowrap;
}

#hello a { color : #53C85D }
#hello a:hover { color : #84E38C }
#hello a:visited { color : #6E96D3 }

#hello .blink-i > i {
	-webkit-animation : yellow-blink 2s ease-in-out infinite alternate;
	animation : yellow-blink 0.4s ease-in-out infinite alternate;
}

@-webkit-keyframes yellow-blink {
	from { color : rgb( 130, 130, 130 ); }
	to { color : rgb( 255, 255, 255 ); }
}

@keyframes yellow-blink {
	from { color : rgb( 130, 130, 130 ); }
	to { color : rgb( 255, 255, 255 ); }
}

.options {
	
}

.options-grid {
	position: absolute;
	overflow: hidden;
	max-height: 100%;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;
	padding : 1em;
}

.btn-wrap {
	display: flex;
	flex-direction : column;
	align-items : center;
	align-content : center;
	justify-content : center;
}

.btn-label {
	line-height: 2em;
}

.click-catch {
	
}

.name,
.name-bar {
	overflow : hidden;
	white-space: nowrap;
	text-overflow : ellipsis;
}

.options {
	overflow: hidden;
	height: 100%;
}

.options-grid {
	flex-wrap  : wrap;
	overflow-y : auto;
}

.options-grid .btn-wrap {
	min-width     : 5em;
	margin-bottom : 1em;
}

.main-rtc {
	position         : absolute;
	width            : 100%;
	height           : 100%;
	background-color : rgba( 0, 0, 0, 0.5 );
}

/*
.main-rtc .main-rtc-content {
	position: absolute;
	top              : 50%;
	left             : 50%;
	transform        : translate( -50%, -50% );
	background-color : rgba( 0, 0, 0, 0.8 );
	padding          : 0.5em;
	max-height       : 100%;
	max-width        : 100%;
}
*/

.main-rtc-status {
	font-size   : 75%;
	line-height : 2em;
}

.state-label {}

.state-value {
	padding     : 0 0.5em;
	font-weight : bold;
}

.state-additional {
	padding-left : 1em;
}
.state-additional-icon { width : 2em; }
.state-additional .state-label {}
.state-additional .state-value {}

.main-rtc .main-state-error {
	color : red;
}

.main-rtc-spinner {
	align-self : center;
}

.main-rtc-spinner > div {
	font-size : 140%;
}

.mini-rtc-spinner {
	
}

.main-rtc .super-green,
.mini-rtc .super-green { /* color : #72c143; */ }
.main-rtc .spinning,
.mini-rtc .spinning { color : #efef81; }

.mini-rtc .spinning,
.mini-rtc .super-green {
	background-color : transparent;
}

.mini-rtc .spinning:hover,
.mini-rtc .super-green:hover {
	background-color : transparent;
}

#waiting-for-container {
	position: absolute;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;
}

#waiting-for-peers-fritz {
	height              : 70%;
	background-image    : url(/webclient/apps/FriendChat/gfx/Waiting.png);
	background-size     : contain;
	background-repeat   : no-repeat;
	background-position : center center;
}

/* was for a more advanced version of the waiting for img thing.
#waiting-for-peers-with-spinner {
	position: absolute;
	width: 57.8vw;
	height: 100vw;
	background-image: url(/webclient/apps/FriendChat/gfx/Waiting.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	max-height: 100vh;
	max-width: 57.8vh;
}

#waiting-for-peers-spinner {
	position: absolute;
	top : 71%;
	left : 33.2%;
	width: 20%;
	height: 20%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url( /webclient/apps/FriendChat/gfx/ICON_2C_150px.png );
	-webkit-animation : f-spin 4s linear infinite;
	animation : f-spin 4s linear infinite;
}
*/

#waiting-for-peers-dots {
	padding : 1em;
}

.waiting-dot {
	position: relative;
	width : 2em;
	height: 2em;
}

.waiting-dot > i {
	font-size: 1em;
	transform : scale( 0.5 );
	
}

#waiting-for-container:not(.hidden) #waiting-for-peers-dots:not(.hidden) .waiting-dot > i {
	animation : dot-zoom 0.75s ease-in-out alternate infinite;
}

#waiting-for-container:not(.hidden) #waiting-for-peers-dots:not(.hidden) .waiting-dot:nth-child(2n) > i {
	animation-delay: 0.25s;
}

#waiting-for-container:not(.hidden) #waiting-for-peers-dots:not(.hidden) .waiting-dot:nth-child(3n) > i {
	animation-delay: 0.50s;
}

@keyframes dot-zoom {
	from { transform : scale( 0.5 ); }
	to { transform : scale( 1 ); }
}

@-webkit-keyframes f-spin {
	from { transform : rotate( 0deg ); }
	to { transform : rotate( 360deg ); }
}

@keyframes f-spin {
	from { transform : rotate( 0deg ); }
	to { transform : rotate( 360deg ); }
}

.peer .mouseover-indicator.mouseover {
	opacity : 1;
}

.peer .mouseover-indicator.visible {
	opacity : 1;
}

.peer .mouseover-indicator .mouseover-position {
	height: 100%;
}

.peer .dragger {
	position: absolute;
	top : 20%;
	right : 20%;
	bottom : 20%;
	left : 20%;
	border-radius: 0.3em;
}

.peer .dragger .drag-close {
	position: absolute;
	top: 0;
	right: 0;
}

.peer .dragger .drag-hint {
	border : 3px dashed white;
	width : 6em;
	height : 6em;
	border-radius: 5em;
	transition : all 0.15s ease-in-out;
}

.peer .dragger .drag-hint i {
	font-size: 3em;
}

.peer .dragger.dragee {
	
}

.peer .drag-hint.dragee {
	width : 4.5em;
	height : 4.5em;
	border : 3px dashed rgba( 255, 255, 255, 0.3 );
	transition : all 0.15s ease-in-out;
}

.peer .dragger.dropzone {
	border : 3px dashed white;
}

.peer .drag-hint.dropzone {
	border : none;
}

.peer .drag-hint .drop-target {
	color : rgb( 0, 255, 0 );
}

.closing {
}

.closing .closing-content {
	padding : 1em;
	background-color : rgba( 0, 0, 0, 0.7 );
	align-items : center;
}

.closing-label {
	line-height: 2em;
	font-size: 120%;
	font-weight: bold;
}

.closing-countdown {
	position: relative;
	width : 5em;
	height : 5em;
}

.countdown-container {
	position: relative;
	width : 100%;
	height: 100%;
}

.countdown-close-now { color : #ddd; }
.countdown-close-now:hover { color : #fff; }

.close-now > i {
	font-size : 200%;
}

.state {
	display : flex;
	flex-direction: row;
	justify-content : center;
	align-items : center;
}

.grid-ui .stream-state {
}

.grid-ui .stream-state .state {
	width: 2.5em;
	height : 2.5em;
	margin: 0 0 2px 2px;
	border-radius: 3px;
}

.grid-ui .stream-state .state i {
	font-size: 170%;
}

.list-ui .state {
	/*background-color : rgba( 0, 0, 0, 0.5 );*/
	text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black;
	border-radius : 3px;
}

.muted,
.blinded {
}

.remote-mute,
.remote-blind {
	color : red;
}

#live-content {
}

#live-ui {
	opacity    : 0;
	position   : absolute;
	bottom     : 0;
	left       : 0;
	right      : 0;
	transition : opacity 0.1s;
}

#live-ui.show-panes {
	top : 0;
}

#live-ui:hover {
	opacity: 1;
}

.show-ui #live-ui,
.show-ui #popped-ui,
.show-ui .grid-ui,
.show-ui .list-ui {
	opacity    : 1;
	transition : opacity 0.1s;
}

#ui-bottom-bar {
	padding : 0.3em 0.5em;
}

#ui-left,
#ui-middle,
#ui-right {
	flex : 1;
}

[mobile] #share-screen-btn {
	display : none !important;
}

#ui-menu-anchor {
	
}

body#hello #hangup-btn {
	margin        : 0 0.7em;
	border-radius : 100%;
	font-size     : 110%;
}

body#hello #hangup-btn > i {
	transform : rotate( 135deg );
}

body#hello #hangup-btn i {
	font-size: 180%;
}

#live-ui-click-catch {
}

#live-ui-panes {
	position      : relative;
	z-index       : 444;
	margin-bottom : 2px;
}

/* Video and audio settings ------------------------------------------------- */

#source-select {
	position: absolute;
	max-width: 30em;
	top : 0;
	right : 0;
	bottom : 0;
}

#source-body {
	display: block;
	padding : 0.5em;
}

#source-head {
}

#source-back {
}

#source-title {
	align-self : center;
	font-size: 140%;
}

#source-select #source-explain,
#source-select #source-error {
	padding : 0 0.5em;
	line-height: 1.5em;
}

#source-select .error-message {
	padding          : 0.5em;
	margin-bottom    : 0.5em;
	background-color : rgb( 152, 59, 37 );
	color            : white;
}

#source-select .select-message {
	padding-bottom : 0.3em;
}


#source-select-av-container {
	position         : relative;
	height           : 1.9em;
	width            : 3em;
	margin-left      : 0.3em;
	background-color : #222;
}

#source-select-av-container canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#source-select #audioinput-select,
#source-select #videoinput-select,
#source-select #audiooutput-select {
	width        : 100%;
}

#source-select select {
	width : 100%;
}

#source-select-buttons {
	padding-top : 0.5em;
}

#source-inputs {
	padding : 1em;
}

#source-select #source-input > div {
	margin-bottom : 0.5em;
}

#source-preview {
	position: relative;
	max-height: 16em;
	overflow: hidden;
}

[mobile] #source-preview {
	display: none;
}

#source-preview-reset {
	position: absolute;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;
}

#source-preview-hint {
	padding : 0.5em;
	text-align: center;
}

#source-no-preview-i {
	font-size: 400% !important;
}

#source-preview-video {
	position: absolute;
	z-index: 2;
	height: 90%;
	min-height: 6em;
	background-color: transparent;
	border : 2px dotted rgba( 255, 255, 255, 0.3 );
	border-radius: 0.5em;
}

/* End Video and audio settings --------------------------------------------- */

.video-border {
	border : 2px solid rgb( 0, 0, 0 );
}

#selfie.popped .video-border {
	border : none;
}

.avatar {
	opacity: 1;
}

.avatar.fade {
	opacity : 0.1;
}

.avatar.visible.fade {
	opacity: 1;
}

.landscape {
	
}

.portrait {
	
}

.width {
	width : auto;
	height : 100%;
}

.height {
	width : 100%;
	height : auto;
}

.grid1 > div {
	height : 100%;
	width : 100%;
}

.grid2 > div,
.grid3 > div,
.grid4 > div,
.grid5 > div,
.grid6 > div,
.grid7 > div,
.grid8 > div,
.grid9 > div {
	height: 100%;
	width: 100%;
}

/* square-ish */
@media screen and ( min-aspect-ratio: 1 / 1 ) and ( max-aspect-ratio : 3 / 1 ) {
	.grid2 > div { width : 50%; }
	
	.grid3 > div,
	.grid4 > div {
		width : 50%;
		height : 50%;
	}
	
	.grid5 > div,
	.grid6 > div {
		width : 33.33%;
		height : 50%;
	}
	
	.grid7 > div,
	.grid8 > div,
	.grid9 > div {
		width : 33.33%;
		height : 33.33%;
	}
	
	.grid10 > div,
	.grid11 > div,
	.grid12 > div {
		width : 33.33%;
		height : 25%;
	}
}

/* landscape */
@media screen and ( min-aspect-ratio: 3 / 1 ) {
	.grid2 > div { width : 50%; }
	.grid3 > div { width : 33%; }
	.grid4 > div { width : 25%; }
	.grid5 > div { width : 20%; }
	
	.grid6 > div {
		width : 33.33%;
		height : 50%;
	}
	
	.grid7 > div,
	.grid8 > div {
		width : 25%;
		height : 50%;
	}
	
	.grid9 > div,
	.grid10 > div {
		width : 20%;
		height : 50%;
	}
	
	.grid11 > div,
	.grid12 > div {
		width : 16.66%;
		height : 50%;
	}
}

/* portrait */
@media screen and ( max-aspect-ratio: 1 / 1 ) {
	.grid2 > div { height : 50%; }
	.grid3 > div { height : 33.33%; }
	.grid4 > div { height : 25%; }
	.grid5 > div { height : 20%; }
	
	.grid6 > div {
		width  : 50%;
		height : 33.33%;
	}
	
	.grid7 > div,
	.grid8 > div {
		width  : 50%;
		height : 25%;
	}
	
	.grid9 > div {
		width  : 33.33%;
		height : 33.33%;
	}
	
	.grid10 > div,
	.grid11 > div,
	.grid12 > div {
		width  : 33.33%;
		height : 25%;
	}
}

/* Settings view */

.settings {
	padding : 0.5em;
}

.settings-head {
	padding : 0.5em 0;
}

.settings-head .title {
	font-size : 140%;
}

.setting {
	padding : 0.3em 0.5em;
}

.label {
	min-width : 8em;
	padding-right : 0.5em;
	text-align: left;
	line-height: 2em;
}

.setting input {
	text-align : right;
}

#setting-peer-limit .value {
	width: 2em;
}

#setting-peer-limit .value input {
	width : 100%;
}

#setting-peer-limit .range {
	margin-left : 0.5em;
}

/* Queue */

.queue-position {
	text-align: center;
	margin-top : 1em;
	font-size: 200%
}

#show-error {
	width : 100%;
	height : 100%;
}

.show-error-container {
	padding : 0.5em;
	border : 2px rgb( 152, 59, 37 ) solid;
}

.show-error-message {
	
	padding : 0.5em;
	font-weight: bold;
}

.show-error-expl {
	padding : 0.5em;
}

.show-error-close {
	
}

.ui-pane {
	overflow : hidden;
}

/* Init checks */

#init-checks {
	height: 100%;
	width : 100%;
	padding : 0.5em;
	overflow : auto;
}

#init-error {
	padding : 0.5em 0;
	text-align: center;
}

#init-check-errors .error-buttons {
	padding : 1em;
}

.init-checks > div {
	padding : 0.3em;
}

.initchecks-wrap {
	margin-top : 0.3em;
}


.initchecks-content {
	padding-top : 0.4em;
	margin-left : 0.4em;
	word-break : break-word;
}

.initchecks-toggle-item {
	width : 2em;
	height : 2em;
}

.init-info {
	padding : 0.5em 1em;
}

#init-browser-caps {
	padding : 0.5em 0 0 1em;
}

.init-text,
.init-state,
.init-desc,
.ice-server {
	padding-left : 0.5em;
}

.init-check-row,
.init-info-row {
	padding : 0.5em 0;
}

.init-media-err {
	padding : 0 1em;
}

.checking {
	color : #efef81;
}

.init-nominal {
	color : #72c143;;
}

.init-warning {
	color : rgb( 187, 175, 77 );
}

.init-error {
	color : #ff3b3b;
}

#init-checks-overlay {
	position: absolute;
	top: 0;
	right : 0;
	bottom : 0;
	left : 0;
}

#init-checks-verify-label {
	padding-left : 1em;
	font-size: 140%;
}

#init-checks-verify-spinner {
	font-size: 180%;
}


/* menu */

.menu {
	width : 25em;
	max-width : 100%;
	min-height: 100%;
	position: relative;
	top : 0;
	left : 0;
}

.menu-navigation {
	padding-top : 0.2em;
	position: absolute;
	top: 0;
	right: 0;
	left : 0;
	height : 2.7em;
}

.menu-navigation > div {
	margin-left : 0.2em;
}

.menu-nav-current {
	padding-left : 0.5em;
	font-weight: bold;
}

.menu-pos-reset {
	position: absolute;
	top: 2.9em;
	right: 0;
	bottom: 0;
	left: 0;
	overflow : auto;
}

.menu-content {
	padding : 0.2em 0;
}

.menu-folder {
	overflow : hidden;
	min-width : 0em;
}

.menu-folder,
.menu-parent-folder,
.menu-current-folder {
	transition : width 0.2s;
	width : 0%;
}

.menu-parent-folder,
.menu-current-folder {
	
}

.menu-parent-folder {
	flex : 0 0 auto;
}

.menu-current-folder {
	flex : 1 1 auto;
	width : 100%;
}

.menu-parent-folder ~ .menu-current-folder {
	
}

.menu-item {
	height: 4em;
	white-space : nowrap;
}

.menu-item:hover {
	background-color : #555;
}

.menu-item-pre,
.menu-item-post {
	width : 2.5em;
	height: 2.5em;
}

.menu-item-name {
	padding-left : 0.5em;
}

.menu-item-folder .menu-item-name {
	font-weight: bold;
}

/* ExtConn pane */

#ext-conn-ui {
	padding : 1em;
}

#ext-conn-ui .message {
	padding : 0 0.5em;
}

/* AV */

.volume-indicator-container {
	position: relative;
	width : 2.5em;
}

.av-visualizer {
	position: absolute;
	top    : 0;
	right  : 0;
	bottom : 0;
	left   : 0;
	border-radius: 25%;
}

/* Volume */


/* Speaker only mode */

.mode-speaker {
	
}

.mode-speaker > .peer {
	display: none;
}

.mode-speaker > .peer.speaker {
	display: inherit;
}

/* Change username */

#change-username {
	height : 100%;
	width  : 100%;
	
}

#change-username-content {
	min-width     : 12em;
	border-radius : 0.1em;
	padding       : 1em 0.5em;
}

#change-username .input-wrap {
	margin : 0.5em 0;
}

.input-wrap input {
	line-height : 1.75em;
	
}
