
#menu-btn
{
	font-size     : 120%;
	padding       : 0 0.5em;
	align-self    : stretch;
	border-radius : 0.2em 0 0 0.2em;
}

.assist-conversation {
	padding     : 0.3em;
	font-weight : bold;
}

.module-head {
	padding-left : 0.5em;
}

.inactive-header {
	padding     : 0 0.5em;
	line-height : 2.5em;
	height      : unset;
}

/* New Friend gui */

#head {
	padding-top : 0.8em;
	padding-bottom : 0.4em;
}

#head,
#foot {
	height: unset;
}

#main-tabs {
	position: relative;
}

#rtc-state {
	padding : 0.3em 0.5em;
}

.rtc-session {
	padding : 0 0.2em;
}

.rtc-session .title {
	margin-left : 0.5em;
	line-height: 1.8em;
}

/* Misc classes */

#recent-active
{
	overflow: auto;
}

/* Welcome buttons */

#welcome-things 
{
	text-align: center;
}

html #welcome-box
{
	font-size: 130%;
}

html #welcome-box, html #welcome-things .group
{
	text-align: center;
}

html #welcome-things .group
{
	display: inline-block;
	margin: 0 0 15px 0;
}

html #welcome-things .group i
{
	cursor: pointer;
}

html #welcome-box h2
{
	margin: 0 0 15px 0;
}

html #welcome-things i
{
	margin: 0 5px 0 5px;
}

#welcome-box .Padding
{
	padding: 100px 20px;
}

/* List buttons */

button.button.show-set-name.fortify
{
	margin: 0 0 0 15px;
}

.room-name-form.expand.group.row .expand
{
	margin: 0 10px 0 15px;
}

