body {
}

#content {
	height: 100%;
}

#active-modules {
	position: relative;
	overflow: auto;
}

.availability-container {
	position: relative;
	text-align:left;
}

.availability-container .availability {
	width: 100%;
}

.availability-container .availability .button-container {
	flex: 0 0 auto;
}

.availability-container .availability .status-string {
	padding-left: 1em;
}

.availability-container .availability-options {
	display:none;
}

.availability-container .availability-options.show {
	display : block;
	position : absolute;
	z-index : 999;
}

.availability-container .status {
	line-height:2em;
	height: 2em;
	padding-left: 2.5em;
	padding-right: 1em;
	background-position: center left 0.6em;
	background-repeat: no-repeat;
}

#notifications {
	
}

.log-notify {
	padding : 0 0.3em;
}

.log-notify .icon {
	width : 2em;
	height: 2em;
}

.log-notify .container {
	position: relative;
	height : 2em;
}

.log-notify .output {
	position: absolute;
	width : 100%;
	height: 2em;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;
	border-radius: 2px;
	overflow: hidden;
}

.log-notify .message {
	padding : 0 0.4em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow : ellipsis;
	line-height: 2em;
}

.log-notify .message .log-info {
	
}

.log-notify .unread-num {
	padding : 0 0.3em;
}

/* Assist UI */

#assist-ui {
	padding : 0.6em 0.5em;
}

#assist-ui .button > i {
	font-size: 180%;
	margin-right : 0.3em;
}

#assist-ui .button {
	display     : flex !important;
	font-weight : bold;
	padding     : 0.6em 0.4em;
	line-height : 1.6em;
	margin      : 0;
}

#assist-ui .Select {
	font-weight: bold;
}

#assist-select {
	padding-bottom : 0.8em;
}

#assist-select > select,
#assist-status-from > select {
	width : 100%;
}

#assist-status {
	padding-top : 0.8em;
}

#assist-status-height-dummy {
	height : 2em;
}

#assist-status-new {
	
}

#assist-status-from {
	margin-left : 0.5em;
}

#assist-select-from {
	
}

.assist-select-type .assist-select-col {
	margin-left : 0.2em;
}

.assist-select-type .assist-select-col:first-child {
	margin-left : 0em;
}

.assist-selected {
	padding : 0.3em;
}

.assist-option {
	line-height : 1.8em;
}

/* Queries */

.query-pass-reset {
	padding : 0.5em 0;
}

.query-pass-reset .button {
	margin-left : 1em;
}

.query-retry-countdown {
	margin : 1em;
	background-color: #444;
	padding : 1px;
}

.query-retry-bar {
	height: 0.3em;
}

/* MAIN */

#online-status {
	position: absolute;
	top : 0;
	left : 0;
	right : 0;
	bottom : 0;
}

.info-icon {
	margin : 0 0.5em;
}

#main-menu {
	position         : absolute;
	top              : 0;
	right            : 0;
	bottom           : 0;
	left             : 0;
	background-color : rgba( 0, 0, 0, 0.5 );
}

/* MODULE */

.module {
	padding-bottom: 2px;
}

.module-head {
	height      : 2.5em;
	font-size   : 110%;
	font-weight : bold;
}

.module-head .actions {
	margin-right : 0.2em;
}

.module-logo {
	width                      : 3em;
	height                     : 100%;
	background-color           : #444;
	padding                    : 2px;
	border-top-right-radius    : 2px;
	border-bottom-right-radius : 2px;
}

.logo {
	height              : 100%;
	width               : 100%;
	background-repeat   : no-repeat;
	background-size     : contain;
	background-position : center;
}

.title-container {
	height   : 100%;
	overflow : hidden;
}

.module-title {
	line-height   : 2.5em;
	padding       : 0em 0.5em;
	white-space   : nowrap;
	text-overflow : ellipsis;
}

.module-actions {
	height          :100%;
	justify-content : flex-end;
}

.module-actions > div {

}

.module-info {
	
}


/* CONTACTCs */

.contacts {
}

.active {
	
}

.inactive-header {
	height      : 2em;
	line-height : 2em;
}

.inactive-header .inactive-title {
	padding : 0 0.5em;
}

.inactive-title,
.inactive-stats {
	opacity: 0.7;
}

.inactive {
	
}


/* CONTACT */
.contacts .contact,
.contacts .subscription {
	position: relative;
	padding-left:0.7em;
	line-height: 1.8em;
}

.treeroot.contact {
	padding-left : 0.3em;
}

.contact .contact-height-dummy {
	height: 2.2em;
}

.contact .contact-avatar {
	height: 2.4em;
	width : 2.4em;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-right : 0.5em;
	border-radius: 0.3em;
}

.contacts .contact-name,
.subscription .description {
	flex: 1 1 auto;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.contacts .contact-status,
.contacts .contact-status > div {
	padding-right : 0.1em;
}

.contact .actions-container {
	display: none;
	outline : none;
}

.contact.show-actions .actions-container {
	display: flex;
}

.contact.show-actions .contact-status {
	display : none;
}

/*
causes clicks to go through twice:
- click on contact ( not button ) to stick the buttons visible;
- click button
- ????
- profit
.contact:hover .actions-container {
	display: flex;
}
*/

.contact .actions {
	outline : none;
}

.contact .actions > div > button,
.contact .actions > button {
	margin : 0 0.5em;
}

.contact .actions > div {
	text-align: center;
}

.contacts .actions .hide-actions {
	margin : 0 0.5em;
	opacity: 0.5;
	transition: opacity 0.1s;
}

.contacts .actions .hide-actions:hover {
	opacity: 1;
	transition: opacity 0.1s;
}

/* subscription */

.subscription {
	padding-right: 0.5em;
}

.subscription .description .name {
	font-weight: bold;
}

.subscription .subscribee {
	
}
.subscription .subscriber {
	
}

.subscription .actions-container {
	display : flex;
	outline: none;
}

.hide-btn-inline {
	opacity: 0;
}
