#hello {
	height : 100%;
}

#head {
	padding     : 1em 0.5em;
	opacity     : 1;
	height      : unset;
}

#list {
	margin-top : 1em;
	overflow-y : auto;
}

#no-items {
	word-break: break-word;
	padding : 1em 1em !important;
}

#title {
	font-size   : 120%;
	line-height : 1.8em;
}

#room-name {
	padding-left : 0.3em;
	font-weight  : bold;
	opacity      : 0.9;
}

#note {
	
}

.contact {
	position     : relative;
	padding      : 0.5em 0.5em !important;
	line-height  : 1.8em;
}

.avatar {
	position            : relative;
	height              : 2.5em;
	width               : 2.5em;
	border-radius       : 100%;
	background-position : center;
	background-size     : cover;
}

.name {
	margin-left   : 1em;
	text-overflow : ellipsis;
	white-space   : nowrap;
	overflow      : hidden;
}