#head {
	height: unset;
	min-height: 3.5em;
	padding : 0.3em 0.6em;
}

#room-title {
	
}

#room-title .group-prefix,
#room-title .title-name {
	font-size: 130%;
	font-weight: bold;
}

#room-title .avatar {
	width        : 2.4em;
	height       : 2.4em;
	margin-right : 0.5em;
}

#live-status-container {
	margin : 0 1em;
}

#foot {
	height: unset;
}

.section-head {
	font-weight: bold;
	font-size: 90%;
	opacity: 0.7;
	text-align: center;
	line-height: 2em;
}

#message-container { position : relative }

#messages {
	position : absolute;
	bottom : 0px;
	max-height : 100%;
	width : 100%;
	overflow : auto;
	padding-bottom: 0.5em;
}

.log-fetch {
	padding : 0em 1em;
	padding-top : 1em;
	height : 3em;
}

.log-fetch-msg,
.log-no-logs {
	line-height: 2em;
}

.log-fetch-msg > div {
	padding-left: 0.5em;
}

.time-envelope {
	padding : 0;
}

.time-envelope .envelope-date,
.time-envelope .envelope-splitter {
	padding : 0 1em;
}

.time-envelope .envelope-head {
	padding : 1em 0;
}

.msg-item {
	padding : 0.2em 0.6em;
}

.msg-item .avatar {
	width  : 2.4em;
	height : 2.4em;
}

.avatar {
	position            : relative;
	border-radius       : 100%;
	background-position : center;
	background-size     : cover;
	background-repeat   : no-repeat;
}

.msg-item .msg-container {
	padding-left : 0.5em;
}

.msg-item .avatar.blank {
	height: 0em;
}

.msg-item .content {
	padding-left : 1em;
}

.msg,
.msg-group {
	line-height: 1.3em;
}

.msg-group {
	margin-top: 0.5em;
}

.msg-group .name {
	font-weight : bold;
}

.msg-container {
	
}

.msg-container .edit-msg {
	max-height: 1.7em;
	opacity: 0;
	transition: all 0.2s;
}

.msg-container:hover .edit-msg {
	opacity: 1;
}

.time {
	padding : 0 0.1em 0 0.5em;
	text-align: right;
	opacity: 0.3;
}

.msg:hover,
.msg-group:hover {
	background-color : rgba( 0, 0, 0, 0.02 );
}

.msg-group:hover .time,
.msg:hover .time {
	opacity: 0.8;
}

.msg-meta {
	margin-bottom : 0.2em;
}

.message {
	line-height: 1.7em;
	word-break: break-word;
	white-space: pre-wrap;
}

.editing {
	margin  : 0.3em;
	padding : 0.3em;
}

.system-container {
	
}

.edit-msg-ui {
	margin-top : 0.8em;
}

.edit-msg-ui .actions {
	padding : 0.5em 0;
}

.edit-msg-ui .actions > * {
	padding-left : 0.3em;
}

#users-container {
	width : 12em;
	transition : width 0.2s;
	overflow: visible;
}

#users-container.users-hide {
	width : 0em;
	transition : width 0.2s;
}

#users-position { position: relative; }
#user-groups {
	position: absolute;
	top: 0;
	right : 0;
	bottom : 0;
	left : 0;
	overflow-x: hidden;
}

#emojii-panel-button,
#chat-submit {
	width: 3em;
}

.user-item {
	line-height: 2em;
}

.user-item .name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 0.2em;
}

#typing-hint {
	padding : 0 0.2em;
}

html body div > .textarea-wrap textarea {
	border: 0;
	border-radius: 0;
}

.blink-icon > i {
	-webkit-animation : ikonblink 2s ease-in-out infinite alternate;
	animation : ikonblink 0.4s ease-in-out infinite alternate;
}

@-webkit-keyframes ikonblink {
	from { opacity : 1; }
	to { opacity : 0.5; }
}

@keyframes ikonblink {
	from { opacity : 1; }
	to { opacity : 0.5; }
}

.emojii-panel {
	position: absolute;
	width: 20em;
	max-width: 20em;
	height: 20em;
	max-height: 20em;
	top : -20em;
	left: 0;
	overflow: hidden;
	overflow-y: auto;
	outline: none;
}

.emojii-item {
	opacity: 0.8;
}

.emojii-item:hover {
	opacity: 1;
}
