
#users-list {
	transition : width 0.2s;
}

#stream-container {
	position         : relative;
	background-color : rgb( 15, 15, 15 );
}

#stream-container {
	position: relative;
}

#stream {
	position : absolute;
	top      : 0;
	right    : 0;
	bottom   : 0;
	left     : 0;
	height   : 100%;
	width    : 100%;
}

#source {
	height: 100%;
}

#source-media-container {
	position : relative;
	overflow : hidden;
}

#source-media-container .video {
	-webkit-transform : translateZ( 0 );
	position : absolute;
	top : 50%;
	left: 50%;
	transform : translate( -50%, -50% );
}


#source .stream-ui,
#sink .stream-ui {
	/*
	display : none;
	opacity: 0;
	*/
	transition : opacity 0.2s;
}

#source-media-container {
	height: 100%;
	width : 100%;
}

#source-media-container .avatar {
	height: 100%;
	width: 100%;
	opacity: 0.3;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#user-stuff {
	border-bottom : 0.1em solid transparent;
}

#chat-container {
	width        : 20em;
	position     : relative;
	/*
	border-left  : 0.1em solid rgba( 255, 255, 255, 0.2 );
	border-right : 0.1em solid rgba( 255, 255, 255, 0.2 );
	*/
}

#live-chat {
	
}

#waiting-for-container {
	
}

#waiting-for-stream-fritz {
	width               : 80%;
	height              : 80%;
	background-image    : url(/webclient/apps/FriendChat/gfx/Waiting4Stream.png);
	background-size     : contain;
	background-repeat   : no-repeat;
	background-position : center center;
}

#waiting-for-stream-dots {
	
}

#main-content {
	min-width: calc( 2.5em + 4px );
}

#stream-ui {
	background-color : rgba( 0, 0, 0, 1 );
	padding : 0.1em;
	max-width : 100%;
	overflow : hidden;
	transition : opacity 0.2s;
	z-index : 999;
	border-bottom-right-radius: 0.2em;
}

.show-ui #stream-ui,
.show-ui #popped-ui,
.show-ui .grid-ui,
.show-ui .list-ui {
	opacity: 1;
	transition : opacity 0.2s;
}

#stream-ui > .btn {
	margin-left : 0.1em;
}
#stream-ui > .btn:first-child {
	margin-left : 0px;
}

#stream-ui-panes {
	z-index: 1024;
}

#video-toggle-btn {
	margin-left : 0.5em;
}

.landscape {
	
}

.portrait {
	
}

.width {
	width : auto;
	height : 100%;
}

.height {
	width : 100%;
	height : auto;
}

/* stream state */

#stream-state-ui {
	height : 100%;
}

#stream-state-content {
	padding : 1em;
	border-radius: 0.2em;
}

#stream-state {
	margin-top : 0.5em;
}

.stream-state-item {
	
}

.stream-state-item .stream-state-desc {
	padding-left : 0.5em;
}