<!DOCTYPE>
<html>
	<head>
		<script src="
			/webclient/apps/FriendChat/scripts/component/common.js;
			webclient/apps/FriendChat/scripts/component/tool.js;
			webclient/apps/FriendChat/api/view.js;
			webclient/apps/FriendChat/scripts/view/about.js
		" type="text/javascript"></script>
		
		<link rel="stylesheet" href="
			../css/common.css;
			webclient/apps/FriendChat/css/about.css
		" type="text/css">
	</head>
	<body id="hello" class="">
		<div id="fragments">
		
<!-- body

-->
<script id="body-tmpl" type="text/html">
<div class="full-height bar column cover BackgroundDefault">
	<div id="bg" class="skummel">
	</div>
	<div id="content" class="expand center-child">
		<div id="about" class="text-container">
			<div class="txt">
				{i18n_a}
			</div>
			<div class="fup">
				{i18n_friendup}
			</div>
			<div class="txt">
				{i18n_communication_tool}
			</div>
			<div class="fc">
				{i18n_friend_chat}
			</div>
			<div class="txt">
				{i18n_made_by}
			</div>
			<div class="sokken">
				{i18n_sokken}
			</div>
		</div>
		<div id="version" class="hidden">
		</div>
		<div id="legal" class="hidden">
			<div id="license">
				License use
			</div>
			<div class="license-item group row start">
				<div class="icon-wrap center-child">
					<i class="fa fa-fw fa-creative-commons"></i>
				</div>
				<div class="license-text">
					Message notification sound 
					<a
						href="https://notificationsounds.com/message-tones/served-504"
						target="_blank"
					>
						"served" 
						<i class="fa fa-fw fa-external-link-square"></i>
					</a> 
					 {i18n_used_under_creative}
				</div>
			</div>
		</div>
	</div>
	<div id="menu" class="fortify group row tighten">
		<div id="about-menu" class="menu-item MousePointer group row">
			<div class="icon-wrap center-child">
				<i class="fa fa-fw fa-info-circle"></i>
			</div>
			<div class="menu-text">
				{i18n_about}
			</div>
		</div>
		<div id="version-menu" class="menu-item MousePointer group row">
			<div class="icon-wrap center-child">
				<i class="fa fa-fw fa-file-text-o"></i>
			</div>
			<div class="menu-text">
				{i18n_version}
			</div>
		</div>
		<div id="legal-menu" class="menu-item MousePointer group row">
			<div class="icon-wrap center-child">
				<i class="fa fa-fw fa-institution"></i>
			</div>
			<div class="menu--text">
				{i18n_legal}
			</div>
		</div>
	</div>
</div>
</script>

<!-- version
version,
date,
branch,
commit
-->
<script id="version-tmpl" type="text/html">
<div>
	<div id="version-info" class="infos grid">
		<div class="description">
			{i18n_app_version}:
		</div>
		<div class="value">
			<%= version %>
		</div>
		<div class="description">
			{i18n_git_branch}:
		</div>
		<div class="value">
			<%= branch %>
		</div>
		<div class="description">
			{i18n_git_date}:
		</div>
		<div class="value">
			<%= date %>
		</div>
		<div class="description">
			{i18n_git_commit}:
		</div>
		<div class="value">
			<%= commit %>
		</div>
	</div>
	<div id="version-copy" class="hidden">
		<div id="version-copy-btn" class="menu-item MousePointer group row">
			<i class="fa fa-fw fa-clipboard"></i>
			<div>
				{i18n_copy_to_clipboard}
			</div>
		</div>
		<input id="version-copy-input" type="text" name="" class="">
	</div>
</div>
</script>
		
		</div>
	</body>
<html>