<!DOCTYPE>
<html>
	<head>
		<script src="
			/webclient/apps/FriendChat/scripts/component/tool.js;
			webclient/apps/FriendChat/scripts/component/common.js;
			webclient/apps/FriendChat/api/view.js;
			webclient/apps/FriendChat/scripts/component/viewComponent.js;
			webclient/apps/FriendChat/scripts/view/console.js
		" type="text/javascript"></script>
		
		<link rel="stylesheet" href="
			../css/common.css;
			webclient/apps/FriendChat/css/theme.css;
			webclient/apps/FriendChat/css/console.css
		" type="text/css">
	</head>
	<body id="hello" class="bar column">
		<div id="main" class="bar column">
			<div id="message-container" class="expand">
				<div id="messages" className="SelectableText SmoothScrolling">
				</div>
			</div>
		</div>
		<div id="foot">
			<form id="input-form" action="" class="bar row">
				<div id=input-type class="fortify group row">
					<button id="raw" class="button flat fa-fw center-child" type="button">
						<i class="fa fa-fw fa-terminal"></i>
					</button>
					<button id="slash-prefix" class="button flat fa-fw accept" type="button">
						&nbsp;/&nbsp;
					</button>
				</div>
				<div id="input-group" class="BorderTop expand group row">
					<div class="input-wrap expand">
						<input id="chat-input" type="text" autocomplete="off">
					</div>
				</div>
				<div class="actions fortify">
					<button type="submit" class="button flat">
						<i class="fa fa-fw fa-paper-plane"></i>
					</button>
				</div>
			</form>
		</div>
		<div id="fragments" class="hidden">

<!-- MSG
type,
message,
time,
-->
<script id="console-msg-tmpl" type="text/html">
<div class="<%= type %> group row left">
	<div class="time fortify">
		<%= time %>
	</div>
	<div class="content expand">
		<%= message %>
	</div>
</div>
</script>


		</div>
	</body>
</html>
