<!-- live-stream-switch
fromType
toType
-->
<script id="viewpane-live-stream-switch-tmpl" type="text/html">
<div id="live-stream-switch" class="abs-cover center-child std-bg">
	<div id="live-stream-switch-content">
		<div id="live-stream-switch-explanation"><!--
			-->This room has been switched from "<%= fromType %>" to "<%= toType %>"<!--
			-->, would you like to:
		</div>
		<div id="live-stream-switch-options" class="group row btn-row allow-wrap">
			<div id="live-switch-join-stream" class="btn hidden">
				<i class="fa fa-fw fa-eye"></i>
				Join stream
			</div>
			<div id="live-switch-join-video" class="btn hidden">
				<i class="fa fa-fw fa-video-camera"></i>
				Join with video
			</div>
			<div id="live-switch-join-audio" class="btn hidden">
				<i class="fa fa-fw fa-microphone"></i>
				Join with audio
			</div>
			<div id="live-switch-close" class="btn">
				<i class="fa fa-fw fa-close"></i>
				Close
			</div>
		</div>
	</div>
</div>
</script>

<!-- status-main-tmpl
id,
-->
<script id="status-main-tmpl" type="text/html">
<div id="<%= id %>" class="status-container">
</div>
</script>

<!-- status-msg-tmpl
id,
title,
content,
-->
<script id="status-msg-tmpl" type="text/html">
<div id="<%= id %>" class="status-msg grad-bg-down">
	<div class="status-head group row">
		<div class="status-icon std-icon center-child fortify">
			<i class="fa fa-fw"></i>
		</div>
		<div class="status-title expand">
			<%= title %>
		</div>
	</div>
	<div class="status-content">
		<%= content %>
	</div>
	<div class="status-msg-actions group row end">
		<%= buttons %>
	</div>
</div>
</script>

<!-- status button
event,
type,
faClass,
label,
-->
<script id="status-button-tmpl" type="text/html">
<div class="btn text status-<%= event %> <%= type %>">
	<i class="fa fa-fw <%= faClass %>"></i>
	<%= label %>
</div>
</script>

<!-- status msg media fail
message,
-->
<script id="media-fail-tmpl" type="text/html">
<div class="">
	<div class="status-explain">
		<%= message %>
	</div>
</div>
</script>

<!-- status msg browser check
supportIcon,
supportMsg,
secureIcon,
secureMsg,
capsHTML,
-->
<script id="status-browser-check-tmpl" type="text/html">
<div id="status-browser-check" class="">
	<div id="browser-support-check" class="browser-capa-row group row start hidden">
		<div class="check-icon">
			<i class="fa fa-fw <%= supportIcon %>"></i>
		</div>
		<div class="status-explain">
			<%= supportMsg %>
		</div>
	</div>
	<div id="browser-secure-check" class="browser-capa-row group row start hidden">
		<div class="check-icon">
			<i class="fa fa-fw <%= secureIcon %>"></i>
		</div>
		<div class="status-explain">
			<%= secureMsg %>
		</div>
	</div>
	<div id="browser-capabilities-check" class="hidden">
		<%= capsHTML %>
	</div>
	<div id="browser-check-actions" class="group row end">
		<div id="browser-check-continue" class="btn text warning hidden">
			<i class="fa fa-fw fa-exclamation-circle"></i>
			{i18n_continue}
		</div>
		<div id="browser-check-close-live" class="btn text danger">
			<i class="fa fa-fw fa-close"></i>
			{i18n_close_live}
		</div>
	</div>
</div>
</script>

<!-- browser capa
typeKlass,
faIcon,
name
-->
<script id="status-browser-capa-tmpl" type="text/html">
<div class="browser-capa-row group row start">
	<div class="icon LED <%= typeKlass %>">
		<i class="fa fa-fw <%= faIcon %>"></i>
	</div>
	<div>
		<%= name %>
	</div>
</div>
</script>

<!-- status msg selfie fail

-->
<script id="status-selfie-tmpl" type="">
</script>

<!-- status ICE
message
servers
-->
<script id="status-ice-tmpl" type="text/html">
<div class="status-ice">
	<div class="status-explain">
		<%= message %>
	</div>
	<div>
		<%= servers %>
	</div>
</div>
</script>

<!-- status ICE host
errMsg,
host,
-->
<script id="status-ice-host-tmpl" type="text/html">
<div class="status-ice-row">
	<div class="status-ice-error">
		<%= errMsg %>
	</div>
	<div class="status-ice-host">
		<%= host %>
	</div>
</div>
</script>

<!-- initchecks-wrap-tmpl
id,
hidden,
content,
-->
<script id="initchecks-wrap-tmpl" type="text/html">
<div id="<%= id %>" class="initchecks-wrap group row left <%= hidden %>">
	<div class="btn initchecks-toggle-item fortify">
		<i class="fa fa-fw fa-plus"></i>
	</div>
	<div class="initchecks-content expand">
		<%= content %>
	</div>
</div>
</script>

<!-- initchecks-item-tmpl
type,
desc,
state,
-->
<script id="initchecks-item-tmpl" type="text/html">
<div>
	<div class="init-type">
		<%= type %>
	</div>
	<div class="init-info group row start hidden">
		<div class="init-icon">
			<i class="fa fa-fw fa-circle-o-notch fa-spin"></i>
		</div>
		<div class="init-desc">
			<%= desc %>
		</div>
		<div class="init-state">
			<%= state %>
		</div>
	</div>
</div>
</script>

<!-- initchecks-browser
type,
-->
<script id="initchecks-browser" type="text/html">
<div>
	<div class="init-type">
		<%= type %>
	</div>
	<div class="init-info hidden">
		<div id="init-check-secure" class="init-info-row group row start">
			<div class="init-icon">
				<i class="fa fa-fw fa-cube"></i>
			</div>
			<div class="init-desc">
				
			</div>
			<div class="init-state">
				
			</div>
		</div>
		<div id="init-check-browser" class="init-info-row group row start">
			<div class="init-icon">
				<i class="fa fa-fw fa-cube"></i>
			</div>
			<div class="init-desc">
				
			</div>
			<div class="init-state">
				
			</div>
		</div>
		<div class="init-info-row">
			<div class="group row start Selectable">
				<div class="init-icon">
					<i class="fa fa-fw fa-cogs"></i>
				</div>
				<div class="init-desc">
					{i18n_capabilities}:
				</div>
			</div>
			<div id="init-browser-caps">
			</div>
		</div>
	</div>
</div>
</script>

<!-- initchecks-browser-cap
id,
label,
statusIcon,
-->
<script id="initchecks-browser-cap" type="text/html">
<div id="<%= id %>" class="group row">
	<div class="browser-cap-status">
		<i class="cap-ok fa fa-fw fa-check"></i>
		<i class="cap-fail fa fa-fw fa-close"></i>
	</div>
	<div class="browser-cap-label">
		<%= label %>
	</div>
</div>
</script>

<!-- initchecks-devices
type,
-->
<script id="initchecks-devices-tmpl" type="text/html">
<div>
	<div class="init-type">
		<%= type %>
	</div>
	<div class="init-info group row start hidden">
		<div class="init-icon">
			<i class="fa fa-fw fa-circle-o-notch fa-spin"></i>
		</div>
		<div class="init-desc">
			{i18n_device_access_error}
		</div>
		<div class="init-state">
			<%= state %>
		</div>
	</div>
</div>
</script>
