<head>
	<script src="
		/webclient/apps/FriendChat/scripts/component/common.js;
		webclient/apps/FriendChat/scripts/component/viewComponent.js;
		webclient/apps/FriendChat/api/view.js;
		webclient/apps/FriendChat/scripts/view/login.js
	" type="text/javascript"></script>
	
	<link rel="stylesheet" href="
		../css/common.css;
		webclient/apps/FriendChat/css/login.css
	" type="text/css">
</head>
<body>
	<div id="fragments" class="hidden">
	
<!--

-->
<script id="body-tmpl" type="text/html">
<div id="hello" class=" bar column BackgroundDefault">
	<div id="head" class="group row">
		<div class="expand text-pad">
			
		</div>
		<button id="create" type="button" class="button fortify hidden" title="Create an account">
			<i class="fa fa-fw fa-user-plus"></i>
		</button>
	</div>
	<div id="main">
		<div class="login-list-container pad">
			<div id="login-account-list" class="">
			</div>
		</div>
	</div>
</div>
</script>

<!-- account
id,
name,
hidden,
-->
<script id="login-account-tmpl" type="text/html">
	<form id="<%= id %>" class="login-list-account group row bg rounded">
		<div class="login-info expand">
			<div class="name">
				<%= name %>
			</div>
			<div class="password hidden">
				<input
					type="password"
					name="password"
					placeholder="password"
					autocomplete="off"
					<%= hidden %>
				>
			</div>
		</div>
		<div class="buttons bar column center fortify">
			<button type="submit" class="button accept" title="Log in">
				<i class="fa fa-fw fa-sign-in"></i>
			</button>
			<button type="button" class="button danger hidden" title="Remove this account">
				<i class="fa fa-fw fa-trash"></i>
			</button>
		</div>
	</form>
</script>

	</div>
</body>
