<head>
	<script src="
		/webclient/apps/FriendChat/scripts/component/common.js;
		webclient/apps/FriendChat/scripts/component/voice.js;
		webclient/apps/FriendChat/api/view.js;
		webclient/apps/FriendChat/scripts/component/viewComponent.js;
		webclient/apps/FriendChat/scripts/component/menu.js;
		webclient/apps/FriendChat/scripts/view/main/base.js;
		webclient/apps/FriendChat/scripts/system.js;
		webclient/apps/FriendChat/scripts/view/main/main.js
	" type="text/javascript"></script>
	
	<link rel="stylesheet" href="
		../css/common.css;
		webclient/apps/FriendChat/css/mainCommon.css;
		webclient/apps/FriendChat/css/main.css;
		webclient/apps/FriendChat/css/menu.css
	" type="text/css">
</head>
<body id="hello" class="no-select MouseDefault">
	<div id="content" class="bar column BackgroundDefault">
		<div id="head" class="group row BorderBottom hidden">
			<div id="availability-status" class="fortify">
			</div>
			<div id="notifications-head" class="expand">
			</div>
			<div class="fortify" title="Show options menu">
				<button id="menu-btn" type="button" class="button">
					<i class="fa fa-fw fa-bars"></i>
				</button>
			</div>
		</div>
		<div id="assist-ui-container" class="fortify BorderBottom hidden">
		</div>
		<div id="active-modules" class="expand">
		</div>
		<div id="foot" class="BorderTop group row">
			<div id="notifications-foot" class="expand">
			</div>
		</div>
	</div>
	<div id="main-menu" class="hidden">
	</div>
	<div id="online-status" class="hidden BackgroundDefault center-child">
	</div>
	<div id="fragments" class="Hidden hidden" style="display : none;">

<!-- Assist UI

-->
<script id="assist-ui-tmpl" type="text/html">
<div id="assist-ui" class="">
	<div class="assist-select-type group row">
		<div class="assist-select-col group column">
			<div class="fortify">
				<button id="assist-video-btn" class="button group row">
					<i class="fa fa-fw fa-video-camera"></i>
					{i18n_video_call}
				</button>
			</div>
			<div class="assist-selected fortify LED">
				<i 
					id="assist-video-selected" 
					class="fa fa-fw fa-chevron-down Off" 
				></i>
			</div>
		</div>
		<div class="assist-select-col group column">
			<div class="fortify">
				<button id="assist-voice-btn" class="button group row">
					<i class="fa fa-fw fa-microphone fortify"></i>
					{i18n_voice_call}
				</button>
			</div>
			<div class="assist-selected fortify LED">
				<i 
					id="assist-voice-selected" 
					class="fa fa-fw fa-chevron-down Off" 
				></i>
			</div>
		</div>
		<div class="assist-select-col group column">
			<div class="fortify">
				<button id="assist-text-btn" class="button group row">
					<i class="fa fa-fw fa-comments-o"></i>
					{i18n_text_chat}
				</button>
			</div>
			<div class="assist-selected fortify LED">
				<i 
					id="assist-text-selected" 
					class="fa fa-fw fa-chevron-down Off" 
				></i>
			</div>
		</div>
	</div>
	<div id="assist-select" class="fortify BorderBottom">
		<select id="assist-select-user" class="Select">
			<option 
				id="assist-select-initial" 
				value="initial" 
				selected>
					{i18n_select_contact}:
			</option>
		</select>
	</div>
	<div id="assist-status" class="group row fortify">
		<div id="assist-status-height-dummy" class="fortify">
		</div>
		<div id="assist-status-new" class="fortify">
		</div>
		<div id="assist-status-from" class="expand">
			<select id="assist-select-from" class="Select hidden">
				<option 
					id="assist-select-unread-initial" 
					value="unread-initial" 
					selected>
						{i18n_unread_open_chat}:
				</option>
			</select>
		</div>
	</div>
	<div id="assist-options-storage" class="hidden">
	</div>
</div>
</script>

<!-- Assist call option
id,
clientId,
name,
modName,
-->
<script id="assist-call-option-tmpl" type="text/html">
<option id="<%= id %>" value="<%= clientId %>" class="assist-option">
	<%= name %><%= modName %>
</option>
</script>

<!-- Assist msg option
id,
clientId,
unread,
name,
-->
<script id="assist-msg-option-tmpl" type="text/html">
<option id="<%= id %>" value="<%= clientId %>" class="assist-option">
	<%= unread %> - <%= name %>
</option>
</script>


<!-- ASK-ADD-MODULE
id,
name,
-->
<script id="ask-add-module-tmpl" type="text/html">
<div id="<%= id %>" class="Box">
	<div class="message">
		<p>
			Would you like to add a <%= name %> account now?
		</p>
		<p>
			You can also add more later with "Add chat account" in the app menu.
		</p>
	</div>
	<div class="choice-buttons group row tighten">
		<button type="button" class="button accept">
			<i class="fa fa-fw fa-plus-circle"></i>
			{i18n_add} <%= name %> {i18n_account}
		</button>
		<button type="button" class="button choice">
			<i class="fa fa-fw fa-share-alt"></i>
			{i18n_other}
		</button>
		<button type="button" class="button danger cancel">
			<i class="fa fa-fw fa-close"></i>
			{i18n_cancel}
		</button>
	</div>
</div>
</script>


<!-- BASEMODULE
clientId,
folditId.
moduleTitle,
connectionStateId,
optionId,
contactsId,
-->
<script id="base-module-tmpl" type="text/html">
<div id="<%= clientId %>" class="module bar column BorderBottom">
	<div id="<%= folditId %>" class="module-head group row fortify MousePointer">
		<div class="module-logo fortify">
			<div class="logo center-child">
				<i class="fa fa-fw fa-user-circle-o"></i>
			</div>
		</div>
		<div class="title-container expand flex-reset">
			<div class="module-title">
				<%= moduleTitle %>
			</div>
		</div>
		<div class="actions group row">
			<div class="foldit-status">
			</div>
			<div id="<%= connectionStateId %>">
			</div>
			<div class="item-menu Button IconButton" title="">
				<i class="fa fa-fw fa-ellipsis-v"></i>
			</div>
		</div>
	</div>
	<div id="<%= contactsId %>" class="contacts ZebraList Interactive">
	</div>
</div>
</script>

<!-- FA ICON LOGO CSS
moduleId,
-->
<script id="fa-icon-logo-css-tmpl" type="text/html">
<style id="<%= moduleId %>-module-css">
	#<%= moduleId %>.module .logo
	{
		color : #eee;
		font-size : 130%;
		text-align: center;
	}
</style>
</script>

<!-- IMAGE LOGO CSS
moduleId,
logoPath,
-->
<script id="image-logo-css-tmpl" type="text/html">
<style id="<%= moduleId %>-module-css">
	#<%= moduleId %>.module .logo { background-image : url( <%= logoPath %> ); }
</style>
</script>

<!-- IRC MODULE
clientId,
folditId,
moduleTitle,
connStateId,
itemsId,
-->
<script id="irc-module-tmpl" type="text/html">
<div id="<%= clientId %>" class="module bar column BorderBottom">
	<div id="<%= folditId %>" class="module-head group row fortify MousePointer">
		<div class="module-logo fortify">
			<div class="logo center-child">
				<i class="fa fa-fw fa-at"></i>
			</div>
		</div>
		<div class="module-title expand">
			<%= moduleTitle %>
		</div>
		<div class="actions group row fortify">
			<div class="foldit-status">
			</div>
			<div id="<%= connStateId %>">
			</div>
			<div class="item-menu Button IconButton" title="">
				<i class="fa fa-fw fa-ellipsis-v"></i>
			</div>
		</div>
	</div>
	<div id="<%= itemsId %>" class="contacts ZebraList Interactive">
	</div>
</div>
</script>

<!-- IRC CHANNEL
clientId,
channelName,
highlightId,
messageWaitingId,
-->
<script id="irc-channel-tmpl" type="text/html">
<div id="<%= clientId %>" class="contact group row MousePointer">
	<div class="contact-height-dummy fortify">
	</div>
	<div class="contact-name fortify">
		<%= channelName %>
	</div>
	<div class="contact-status item-row bar row fortify">
		<div id="<%= messageWaitingId %>">
		</div>
	</div>
	<div class="item-menu Button IconButton fortify center-child">
		<i class="fa fa-fw fa-ellipsis-v"></i>
	</div>
</div>
</script>

<!-- IRC PRIVATE
clientId,
contactName,
messageWaitingId,
-->
<script id="irc-private-tmpl" type="text/html">
<div id="<%= clientId %>" class="contact group row MousePointer">
	<div class="contact-height-dummy fortify">
	</div>
	<div class="contact-name expand">
		<%= contactName %>
	</div>
	<div class="contact-status item-row bar row fortify">
		<div id="<%= messageWaitingId %>">
		</div>
	</div>
	<div class="item-menu Button IconButton fortify center-child">
		<i class="fa fa-fw fa-ellipsis-v"></i>
	</div>
</div>
</script>
