<!-- AVAILABILITY BASE
id,
statusString,
-->
<script id="availability-base-tmpl" type="text/html">
<div class="availability-container">
	<div id="<%= id %>" class="availability flex-row">
		<div class="button-container">
			<button class="button">
				<div class="button-image status">
				</div>
			</button>
		</div>
		<div class="status-string">
			<%= statusString %>
		</div>
	</div>
	<div class="availability-options dropdown">
	</div>
</div>
</script>


<!-- AVAILABILITY OPTION
id,
statusString,
fa-icon,
-->
<script id="availability-option-tmpl" type="text/html">
	<div id="<%= id %>-option" class="availability-option bar row">
		<i class="fa fa-fw <%= fa-icon%>"></i>
		<div class="status">
			<%= statusString %>
		</div>
	</div>
</script>


<!-- NOTIFICATION
outputId,
unreadId,
-->
<script id="notification-tmpl" type="text/html">
<div class="log-notify group row expand MousePointer">
	<div class="icon fortify center-child">
		<i class="fa fa-fw fa-file-text-o"></i>
	</div>
	<div class="container expand">
		<div id="<%= outputId %>" class="output">
		</div>
	</div>
	<div id="<%= unreadId %>" class="unread-num fortify">
		&nbsp;
	</div>
</div>
</script>


<!-- NOTIFICATION INFO MESSAGE
message,
-->
<script id="notification-message-tmpl" type="text/html">
<div class="message LogText">
	<%= message %>
</div>
</script>

<!-- MODULE INITIALIZING
id
-->
<script id="module-initializing-tmpl" type="text/html">
<div id="<%= id %>" class="Box group row center">
	<div class="info-icon center-child">
		<i class="fa fa-fw fa-circle-o-notch fa-spin"></i>
	</div>
	<div class="Message">
		{i18n_the_module_is_initializing}
	</div>
</div>
</script>

<!-- MODULE MESSAGE
id,
message,
-->
<script id="module-message-tmpl" type="text/html">
<div id="<%= id %>" class="Box group row center">
	<div class="info-icon center-child">
		<i class="fa fa-fw fa-info-circle"></i>
	</div>
	<div class="Message">
		<%= message %>
	</div>
</div>
</script>

<!-- rtc-state-tmpl
id,
title,
-->
<script id="rtc-state-tmpl" type="text/html">
<div id="<%= id %>" class="rtc-session group row">
	<div class="LED DangerText fortify">
		<i class="fa fa-fw fa-video-camera"></i>
	</div>
	<div class="title left expand">
		<%= title %>
	</div>
</div>
</script>

<!-- minimenu
id,
-->
<script id="mini-menu-tmpl" type="text/html">
<div id="<%= id %>" class="mini-menu">
	<div tabindex="0" class="mini-menu-content StandardBoxShadow ZebraList Interactive BackgroundDefault">
	</div>
</div>
</script>

<!-- minimenu option
name,
faIcon,
-->
<script id="mini-menu-option-tmpl" type="text/html">
<div class="mini-menu-option group row start">
	<i class="fa fa-fw <%= faIcon %>"></i>
	<div class="name">
		<%= name %>
	</div>
</div>
</script>

<!-- Recent conversations
-->
<script id="recent-convos-tmpl" type="text/html">
<div id="recent-convos" class="module bar column">
    <div class="module-head fortify">
        <div class="module-title">
            {i18n_recent_conversations}
        </div>
    </div>
    <div id="recent-splash" class="">
        <div id="welcome-box" class="Padding welcome-box hidden">
            <div class="Padding Borders Box">
                <span id="welcome-box-close" class="MousePointer IconSmall FloatRight fa-remove">
                </span>
                <p class="welcome-title">
                    {i18n_welcome_to_friend_chat}
                </p>
                <p>
                    {i18n_this_is_a_communication_and_collaboration_tool_for_the_friend_workspace}.
                    {i18n_please_take_a_moment_to_look_around}.
                </p>
                <p>
                    {i18n_the_search_bar_at_the_top_filters_current_rooms_and_contacts_and_allow_finding_community_contacts}.
                </p>
                <p>
                    {i18n_the_tabs_at_the_bottom_will_take_you_to_the_following_sections}.
                </p>
                <div id="welcome-things">
                    <div class="group row start">
                        <i class="fa fa-fw fa-comment"></i>
                        {i18n_current_conversations_and_events}
                    </div>
                    <div class="group row start">
                        <i class="fa fa-fw fa-group"></i>
                        {i18n_your_group_chats}
                    </div>
                    <div class="group row start">
                        <i class="fa fa-fw fa-address-book"></i>
                        {i18n_your_contacts}
                    </div>
                </div>
                <p>
                    {i18n_have_fun}
                </p>
            </div>
        </div>
        <div id="no-recent-convos" class="Padding hidden">
            <div class="Padding Box">
                <p>{i18n_there_are_no_recent_conversations_or_events}</p>
            </div>
        </div>
    </div>
    <div id="recent-active" class="ZebraList Interactive expand SmoothScrolling"></div>
    <div id="recent-inactive" class="hidden">
    </div>
</div>
</script>

<!-- Recent conversations item
id,
avatar,
statusId,
name,
lastMsgTime,
lastMsg,
unreadId,
callStatusId
-->
<script id="recent-item-tmpl" type="text/html">
<div id="<%= id %>" class="recent-item group row">
	<div class="avatar fortify"
		style="background-image:url(&#39;<%= avatar %>&#39;)"
	>
		<div id="<%= statusId %>" class="avatar-status">
		</div>
	</div>
	<div class="recent-info expand">
		<div class="name-bar group row">
			<div class="name">
				<%= name %>
			</div>
			<div class="last-msg-time fortify">
				<%= lastMsgTime %>
			</div>
		</div>
		<div class="recent-state group row">
			<div class="last-event-icon fortify">
				<i class="fa fa-fw <%= lastEventIcon %>"></i>
			</div>
			<div class="last-message expand">
				<%= lastMsg %>
			</div><!--
			<div class="min-height-dummy">
				&puncsp;
			</div>
			--><div class="more-state fortify">
				<div id="<%= unreadId %>" class="unread-num">
				</div>
			</div>
		</div>
	</div>
	<div id="<%= callStatusId %>">
	</div><!--
	<div class="item-menu Button IconButton fortify center-child">
		<i class="fa fa-fw fa-ellipsis-v"></i>
	</div>-->
</div>
</script>

<!-- Recent conversations room
id,
avatar,
statusId,
name,
lastMsgTime,
lastEventIcon,
lastName,
lastMsg,
liveId,
unreadId,
-->
<script id="recent-room-tmpl" type="text/html">
<div id="<%= id %>" class="recent-item recent-room group row">
	<div class="avatar fortify center-child"
		style="background-image:url(&#39;<%= avatar %>&#39;)"
	>
		<i class="fa fa-fw fa-users <%= iconHidden %>"></i>
		<div id="<%= statusId %>" class=avatar-status></div>
	</div>
	<div class="recent-info expand">
		<div class="name-bar group row">
			<div class="name">
				<%= name %>
			</div>
			<div class="last-msg-time fortify">
				<%= lastMsgTime %>
			</div>
		</div>
		<div class="recent-state group row">
			<div class="last-event-icon fortify">
				<i class="fa fa-fw <%= lastEventIcon %>"></i>
			</div>
			<div class="last-msg-name fortify">
				<%= lastName %>
			</div>
			<div class="last-message expand">
				<%= lastMsg %>
			</div><!--
			<div class="min-height-dummy">
				&puncsp;
			</div>
		 --><div class="more-state group row fortify">
				<div id="<%= liveId %>" class="unread-num">
				</div>
				<div id="<%= unreadId %>" class="unread-num">
				</div>
			</div>
		</div>
	</div><!--
	<div class="item-menu Button IconButton fortify center-child">
		<i class="fa fa-fw fa-ellipsis-v"></i>
	</div>-->
</div>
</script>

<!-- query item
id,
typeKlass,
avatar,
queryMsg,
-->
<script id="query-item-tmpl" type="text/html">
<div id="<%= id %>" class="query-item <%= typeKlass %> group row">
	<div class="avatar fortify" style="background-image:url(&#39;<%= avatar %>&#39;)">
	</div>
	<div class="query-msg expand">
		<%= queryMsg %>
	</div>
	<div class="response-container group row fortify">
		<button type="button" class="button accept" title="Graciously accept">
			<i class="fa fa-fw fa-check"></i>
		</button>
		<button type="button" class="button danger reject" tittle="Politely decline">
			<i class="fa fa-fw fa-close"></i>
		</button>
	</div>
</div>
</script>

<!-- TREEROOT MODULE
clientId,
folditId,
moduleTitle,
connStateId,
itemsId,
activeId,
inactiveId,
-->
<script id="treeroot-module-tmpl" type="text/html">
	<div id="<%= clientId %>" class="module bar column BorderBottom">
		<div id="<%= folditId %>" class="module-head group row fortify MousePointer">
			<div class="module-logo fortify">
				<div class="logo">
				</div>
			</div>
			<div class="module-title expand">
				<%= moduleTitle %>
			</div>
			<div class="actions group row fortify">
				<div class="foldit-status">
				</div>
				<div id="<%= connStateId %>">
				</div>
				<div class="item-menu Button IconButton" title="">
					<i class="fa fa-fw fa-ellipsis-v"></i>
				</div>
			</div>
		</div>
		<div id="<%= itemsId %>" class="contacts bar column">
			<div id="<%= activeId %>" class="active ZebraList Interactive">
			</div>
			<div class="inactive-container hidden">
				<div id="<%= inactiveFolditId %>" class="inactive-header group row">
					<div class="foldit-status fortify">
					</div>
					<div class="inactive-title fortify">
						{i18n_offline}:
					</div>
					<div class="inactive-stats expand">
						- / -
					</div>
				</div>
				<div id="<%= inactiveId %>" class="inactive ZebraList Interactive">
				</div>
			</div>
		</div>
	</div>
</script>

<!-- TREEROOT CONTACT
clientId,
avatar,
name,
messageWaitingId,
presenceId,
optionMenuId,
-->
<script id="treeroot-contact-tmpl" type="text/html">
	<div id="<%= clientId %>" class="treeroot contact group row MousePointer">
		<div class="contact-height-dummy fortify">
		</div>
		<div class="avatar fortify"
			style="background-image:url(&#39;<%= avatar %>&#39;)"
		>
		</div>
		<div class="name expand">
			<%= name %>
		</div>
		<div id="<%= messageWaitingId %>" class="fortify">
		</div>
		<div id="<%= presenceId %>" class="fortify">
		</div>
		<div class="item-menu Button IconButton fortify center-child">
			<i class="fa fa-fw fa-ellipsis-v"></i>
		</div>
	</div>
</script>

<!-- SUBSCRIPTION
clientId,
contactName,
-->
<script id="subscription-tmpl" type="text/html">
<div id="<%= clientId %>" class="subscription group row">
	<div class="description">
		<span class="text">friend request from:&nbsp;</span>
		<span class="name"><%= contactName %></span>
	</div>
	<div class="subscriber actions-container bar row fortify">
		<button type="button" class="button accept allowSub" title="Graciously accept">
			<i class="fa fa-fw fa-check"></i>
		</button>
		<button type="button" class="button danger denySub" tittle="Politely decline">
			<i class="fa fa-fw fa-close"></i>
		</button>
	</div>
	<div class="action-pending fortify hidden">
		<i class="fa fa-fw fa-spinner fa-pulse"></i>
	</div>
</div>
</script>

<!-- SUBSCRIBEE
clientId,
contactName,
-->
<script id="subscribee-tmpl" type="text/html">
<div id="<%= clientId %>" class="subscription group row">
	<div class="description">
		<span class="text">friend request to:&nbsp;</span>
		<span class="name"><%= contactName %></span>
	</div>
	<div class="subscribee actions-container fortify">
		<button type="button" class="button danger cancelSub" title="Cancel your request">
			<i class="fa fa-fw fa-close"></i>
		</button>
	</div>
	<div class="action-pending fortify hidden">
		<i class="fa fa-fw fa-spinner fa-pulse"></i>
	</div>
</div>
</script>

<!-- TREEROOT PASS RESET QUERY
id,
message,
-->
<script id="treeroot-pass-reset-tmpl" type="text/html">
<form id="<%= id %>" class="Box" autocomplete="off">
	<div class="Message">
		<p>
			<%= message %>
		</p>
	</div>
	<div class="inputs">
		<div>
			{i18n_recovery_key}:
		</div>
		<div class="input-wrap">
			<input type="text" class="recovery-code">
		</div>
		<div>
			{i18n_new_passphrase}:
		</div>
		<div class="input-wrap">
			<input type="password" class="new-pass">
		</div>
	</div>
	<button type="submit">
		{i18n_submit}
	</button>
</form>
</script>


<!-- QUERY-TEXT
id,
message,
value,
-->
<script id="query-text-tmpl" type="text/html">
<form id="<%= id %>" class="Box">
	<div class="Message fortify">
		<p>
			<%= message %>
		</p>
	</div>
	<div class="inputs fortify group row">
		<div class="input-wrap expand">
			<input type="text" value="<%= value %>">
		</div>
		<button type="submit" class="button accept fortify">
			<i class="fa fa-fw fa-sign-in"></i>
			{i18n_submit}
		</button>
	</div>
</form>
</script>

<!-- QUERY-RETRY
id,
message,
retryText,
cancelText,
-->
<script id="query-retry-tmpl" type="text/html">
<form id="<%= id %>" class="Box">
	<div class="Message fortify">
		<p>
			<%= message %>
		</p>
	</div>
	<div class="inputs group row end button-row">
		<button type="button" class="cancel button fortify">
			<%= cancelText %>
		</button>
		<button type="submit" class="button Accept fortify">
			<i class="fa fa-fw fa-refresh"></i>
			<%= retryText %>
		</button>
	</div>
</form>
</script>

<!-- QUERY-SECURE
id,
message,
placeholder,
-->
<script id="query-secure-tmpl" type="text/html">
<form id="<%= id %>" class="Box">
	<div class="Message fortify">
		<p>
			<%= message %>:
		</p>
	</div>
	<div class="inputs fortify group row">
		<div class="input-wrap expand">
			<input type="password" placeholder="<%= placeholder %>">
		</div>
		<button type="submit" class="button accept fortify">
			<i class="fa fa-fw fa-sign-in"></i>
			{i18n_submit}
		</button>
	</div>
</form>
</script>

<!-- QUERY-PASSWORD
id,
message,
resetLink,

-->
<script id="query-password-tmpl" type="text/html">
<form id="<%= id %>" class="Box">
	<div class="Message fortify">
		<p>
			<%= message %>:
		</p>
	</div>
	<div class="inputs fortify group row">
		<div class="input-wrap expand">
			<input type="password">
		</div>
		<button type="submit" class="button accept fortify">
			<i class="fa fa-fw fa-sign-in"></i>
			{i18n_submit}
		</button>
	</div>
	<div class="query-pass-reset group row start">
		<div>
			{i18n_forgot_your_password}
		</div>
		<div class="button pass-reset">
			<i class="fa fa-fw fa-recycle"></i>
			{i18n_reset}
		</div>
	</div>
</form>
</script>

<!-- QUERY-SECURE-CONFIRM
id,
description,
-->
<script id="query-secure-confirm-tmpl" type="text/html">
<form id="<%= id %>" class="Box">
	<div class="Message fortify">
		<p>
			<%= message %>
		</p>
	</div>
	<div class="inputs fortify group row">
		<div class="input-wrap expand">
			<input type="password">
		</div>
		<button type="submit" class="button accept fortify">
			<i class="fa fa-fw fa-sign-in"></i>
			{i18n_submit}
		</button>
	</div>
</form>
</script>

<!-- QUERY-HOST-ERR
id,
error,
host,
-->
<script id="query-host-err" type="text/html">
<form id="<%= id %>" class="Box">
	<div class="Message fortify">
		<p>
			Remote host error: <%= error %>. Retrying..
		</p>
	</div>
	<div class="retry-countdown LED">
		<div class="retry-bar On">
		</div>
	</div>
	<div class="inputs fortify group row">
		<div class="input-wrap expand">
			<input type="text" value="<%= host %>">
		</div>
		<button type="submit" class="button accept fortify">
			<i class="fa fa-fw fa-repeat"></i>
			{i18n_retry_now}
		</button>
	</div>
</form>
</script>

<!-- INFO-MISSING
id,
-->
<script id="info-missing-tmpl" type="text/html">
<div id="<%= id %>" class="module-info Box Info">
	<div class="">
		<p>
			{i18n_an_account_can_be}
		</p>
		<p>
			{i18n_you_can_choose}
		</p>
		<p>
			{i18n_if_you_have_already}
		</p>
	</div>
	<div class="Buttons group row tighten">
		<button type="button" class="button accept science group row">
			<i class="fa fa-fw fa-flask"></i>
			{i18n_automatic}
		</button>
		<button type="button" class="button account group row">
			<i class="fa fa-fw fa-user-plus"></i>
			{i18n_create_an_account}
		</button>
		<button type="button" class="button settings group row">
			<i class="fa fa-fw fa-sign-in"></i>
			{i18n_i_have_an_account}
		</button>
	</div>
</div>
</script>

<!-- HOST-UNREACHABLE
id,
host,
-->
<script id="host-unreachable-tmpl" type="text/html">
<form id="<%= id %>" class="Box Info group row">
	<div class="Message fortify">
		{i18n_could_not_connect_to}:
	</div>
	<div class="inputs fortify group row">
		<div class="input-wrap expand">
			<input type="text" value="<%= host %>">
		</div>
		<button type="submit" class="button accept fortify">
			<i class="fa fa-fw fa-refresh"></i>
			{i18n_try_again}
		</button>
	</div>
</form>
</script>

<!-- INVALID-IDENTITY
id,
login,
-->
<script id="invalid-identity-tmpl" type="text/html">
<form id="<%= id %>" class="Box Info group row">
	<div class="Message fortify">
		{i18n_invalid_login}:
	</div>
	<div class="inputs fortify group row">
		<div class="input-wrap expand">
			<input type="text" value="<%= login %>">
		</div>
		<button type="submit" class="button accept fortify">
			<i class="fa fa-fw fa-user"></i>
			{i18n_try_again}
		</button>
	</div>
</form>
</script>

<!-- ERROR-RECONNECT
id,
-->
<script id="error-reconnect-tmpl" type="text/html">
<div id="<%= id %>" class="Box Error group row tighten">
	<div class="Message">
		{i18n_there_was_a_problem}
	</div>
	<div class="Buttons group row tighten">
		<button type="button" class="button reconnect-now">
			<i class="fa fa-fw fa-refresh"></i>
			{i18n_reconnect_now}
		</button>
	</div>
</div>
</script>

<!-- OFFLINE-RECONNECT
id,
-->
<script id="offline-reconnect-tmpl" type="text/html">
<div id="<%= id %>" class="Box Info group row tighten">
	<div class="Message">
		{i18n_module_is_offline}
	</div>
	<div class="Buttons group row tighten">
		<button type="button" class="button reconnect">
			<i class="fa fa-fw fa-bolt"></i>
			{i18n_connect}
		</button>
	</div>
</div>
</script>

<!-- PRESENCE 
roomsId,
folditId.
moduleTitle,
connStateId,
itemsId,
-->
<script id="presence-rooms-tmpl" type="text/html">
<div id="<%= roomsId %>" class="module bar column BorderBottom">
	<div id="<%= folditId %>" class="module-head group row fortify MousePointer">
		<div class="module-logo fortify">
			<div class="logo center-child">
				<i class="fa fa-fw fa-user-circle-o"></i>
			</div>
		</div>
		<div class="module-title expand">
			<%= title %>
		</div>
		<div class="actions group row fortify">
			<div class="foldit-status">
			</div>
			<div id="<%= connStateId %>">
			</div>
			<div class="item-menu Button IconButton" title="">
				<i class="fa fa-fw fa-ellipsis-v"></i>
			</div>
		</div>
	</div>
	<div id="<%= itemsId %>" class="contacts ZebraList Interactive SmoothScrolling">
	</div>
</div>
</script>

<!-- PRESENCE ROOM
clientId,
avatar,
name,
roomStatusId,
liveStatusId,
msgWaitingId,
-->
<script id="presence-room-tmpl" type="text/html">
<div id="<%= clientId %>" class="contact room group row MousePointer">
	<div class="contact-height-dummy fortify">
	</div>
	<div class="avatar" style="background-image:url(&#39;<%= avatar %>&#39;)">
	</div>
	<button class="button show-set-name fortify hidden" title="Set a name and save room">
		<i class="fa fa-fw fa-edit"></i>
	</button>
	<form class="room-name-form expand group row hidden">
		<div class="input-wrap expand">
			<input type="text" placeholder="name room">
		</div>
		<button class="button submit-room-name accept" type="submit" title="Save room">
			<i class="fa fa-fw fa-save"></i>
		</button>
		<button class="button danger hide-set-name" type="button" title="Cancel">
			<i class="fa fa-fw fa-close"></i>
		</button>
	</form>
	<div class="name expand">
		<%= name %>
	</div>
	<div class="contact-status item-row bar row fortify">
		<div id="<%= msgWaitingId %>">
		</div>
		<div id="<%= liveStatusId %>">
		</div>
		<div id="<%= roomStatusId %>">
		</div>
	</div>
	<div class="item-menu Button IconButton fortify center-child">
		<i class="fa fa-fw fa-ellipsis-v"></i>
	</div>
</div>
</script>


<!-- PRESENCE CONTACT
clientId,
avatarSrc,
statusId,
name,
liveStatusId,
msgWaitingId,
-->
<script id="presence-contact-tmpl" type="text/html">
<div id="<%= clientId %>" class="contact group row MousePointer">
	<div class="avatar fortify"
		style="background-image:url(&#39;<%= avatarSrc %>&#39;)"
	>
		<div id="<%= statusId %>" class="avatar-status">
		</div>
	</div>
	<div class="name expand">
		<%= name %>
	</div>
	<div class="group row item-row fortify">
		<div id="<%= liveStatusId %>" class="fortify">
		</div>
		<div id="<%= msgWaitingId %>" class="fortify">
		</div>
	</div>
	<div class="item-menu Button IconButton fortify center-child">
		<i class="fa fa-fw fa-ellipsis-v"></i>
	</div>
</div>
</script>


<!-- PRESENCE QUERY HAS ACCOUNT
id,
createId,
haveId,
-->
<script id="presence-ask-account-tmpl" type="text/html">
<form id="<%= id %>" class="Box">
	<div class="Message">
		<p>
			{i18n_no_presence_login}
		</p>
	</div>
	<div class="inputs group row">
		<button type="button" class="button" id="<%= createId %>">
			<i class="fa fa-fw fa-cube"></i>
			{i18n_create_new}
		</button>
		<button type="button" class="button" id="<%= haveId %>">
			<i class="fa fa-fw fa-cube"></i>
			{i18n_use_existing}
		</button>
	</div>
</form>
</script>

<!-- PRESENCE QUERY CREATE ACCOUNT
id,
host,
login,
-->
<script id="presence-create-account-tmpl" type="text/html">
<form id="<%= id %>" class="Box">
	<div class="Message">
		<p>
			{i18n_create_a_new_presence_account}
		</p>
	</div>
	<div class="inputs">
		<div class="input-wrap expand">
			<input type="text" class="login" value="<%= login %>" placeholder="login">
		</div>
		<div class="input-wrap expand">
			<input type="text" class="passphrase" value="" placeholder="passphrase">
		</div>
		<button type="submit" class="button accept fortify">
			<i class="fa fa-fw fa-sign-in"></i>
			Submit
		</button>
	</div>
</form>
</script>

<!-- PRESENCE CALL STATUS
id,
-->
<script id="call-status-tmpl" type="text/html">
<div id="<%= id %>" class="presence-call group row hidden">
	<div class="call-status hidden Available">
		<i class="fa fa-fw fa-phone"></i>
	</div>
	<div class="call-incoming group row hidden">
		<div class="button accept-video Accept">
			<i class="fa fa-fw fa-video-camera"></i>
		</div>
		<div class="button accept-audio Accept">
			<i class="fa fa-fw fa-microphone"></i>
		</div>
	</div>
	<div class="call-outgoing hidden">
		<div class="LED">
			<i class="fa fa-fw fa-video-camera DangerText"></i>
		</div>
	</div>
	<div class="call-live hidden">
	</div>
</div>
</script>

	</div>
</body>
