<head>
	<script src="
		../scripts/component/common.js;
		webclient/apps/FriendChat/api/view.js;
		webclient/apps/FriendChat/scripts/component/voice.js;
		webclient/apps/FriendChat/scripts/component/viewComponent.js;
		webclient/apps/FriendChat/scripts/component/menu.js;
		webclient/apps/FriendChat/scripts/view/main/base.js;
		webclient/apps/FriendChat/scripts/system.js;
		webclient/apps/FriendChat/scripts/view/main/main.js;
		webclient/apps/FriendChat/scripts/view/main/simple.js
	" type="text/javascript"></script>
	
	<link rel="stylesheet" href="
		../css/common.css;
		webclient/apps/FriendChat/css/main.css;
		webclient/apps/FriendChat/css/main-simple.css;
		webclient/apps/FriendChat/css/menu.css
	" type="text/css">
</head>
<body id="hello" class="no-select MouseDefault Loading">
	<div id="content" class="bar column BackgroundDefault">
		<div id="head" class="group row BorderBottom hidden">
			<div id="availability-status fortify">
			</div>
			<div id="notifications-head" class="expand">
			</div>
			<div class="fortify" title="Show options menu">
				<button id="main-menu-btn" type="button" class="button">
					<i class="fa fa-fw fa-bars"></i>
				</button>
			</div>
		</div>
		<div id="assist-ui-container" class="fortify BorderBottom hidden">
		</div>
		<div id="active-modules" class="expand">
		</div>
		<div id="foot" class="BorderTop group row">
			<div id="notifications-foot" class="expand">
			</div>
		</div>
	</div>
	<div id="main-menu" class="hidden">
	</div>
	<div id="online-status" class="hidden BackgroundDefault center-child">
	</div>
	<div id="fragments" class="Hidden hidden" style="display : none;">

<!-- AVAILABILITY BASE
id,
statusString,
-->
<script id="availability-base-tmpl" type="text/html">
<div class="availability-container">
	<div id="<%= id %>" class="availability flex-row">
		<div class="button-container">
			<button class="button">
				<div class="button-image status">
				</div>
			</button>
		</div>
		<div class="status-string">
			<%= statusString %>
		</div>
	</div>
	<div class="availability-options dropdown">
	</div>
</div>
</script>


<!-- AVAILABILITY OPTION
id,
statusString,
fa-icon,
-->
<script id="availability-option-tmpl" type="text/html">
	<div id="<%= id %>-option" class="availability-option bar row">
		<i class="fa fa-fw <%= fa-icon%>"></i>
		<div class="status">
			<%= statusString %>
		</div>
	</div>
</script>


<!-- NOTIFICATION
outputId.
unreadId,
-->
<script id="notification-tmpl" type="text/html">
<div class="log-notify group row expand MousePointer">
	<div class="icon fortify center-child">
		<i class="fa fa-fw fa-file-text-o"></i>
	</div>
	<div class="container expand">
		<div id="<%= outputId %>" class="output">
		</div>
	</div>
	<div id="<%= unreadId %>" class="unread-num fortify">
		&nbsp;
	</div>
</div>
</script>


<!-- NOTIFICATION INFO MESSAGE
message,
-->
<script id="notification-message-tmpl" type="text/html">
<div class="message LogText">
	<%= message %>
</div>
</script>

<!-- MODULE INITIALIZING
id
-->
<script id="module-initializing-tmpl" type="text/html">
<div id="<%= id %>" class="Box group row center">
	<div class="info-icon center-child">
		<i class="fa fa-fw fa-circle-o-notch fa-spin"></i>
	</div>
	<div class="Message">
		{i18n_the_module_is_initializing}
	</div>
</div>
</script>

<!-- MODULE MESSAGE
id,
message,
-->
<script id="module-message-tmpl" type="text/html">
<div id="<%= id %>" class="Box group row center">
	<div class="info-icon center-child">
		<i class="fa fa-fw fa-info-circle"></i>
	</div>
	<div class="Message">
		<%= message %>
	</div>
</div>
</script>

<!-- TREEROOT MODULE
clientId,
moduleTitle,
connectionStateId,
optionId,
contactsId,
-->
<script id="simple-treeroot-module-tmpl" type="text/html">
	<div id="<%= clientId %>" class="module bar column BorderBottom">
		<div class="module-head group row fortify MousePointer">
			<div id="<%= connectionStateId %>" class="fortify">
			</div>
			<div class="title-container expand flex-reset">
				<div class="module-title">
					<%= moduleTitle %>
				</div>
			</div>
			<div class="actions group row fortify">
				<button class="button subscribe" title="Show available contacts">
					<i class="fa fa-fw fa-user-plus"></i>
				</button>
				<button id="<%= optionId %>" class="button" type="button">
					<i class="fa fa-fw fa-cog"></i>
				</button>
			</div>
		</div>
		<div id="<%= contactsId %>" class="contacts bar column">
			<div id="<%= activeId %>" class="active ZebraList Interactive">
			</div>
			<div class="inactive-container BorderTop">
				<div class="inactive-header group row LED">
					<i class="fa fa-fw fa-circle Alert"></i>
					<div class="inactive-title fortify">
						{i18n_offline}:
					</div>
					<div class="inactive-stats expand">
						- / -
					</div>
				</div>
				<div id="<%= inactiveId %>" class="inactive ZebraList Interactive">
				</div>
			</div>
		</div>
	</div>
</script>

<!-- TREEROOT CONTACT
clientId,
avatar,
name,
messageWaitingId,
presenceId,
optionMenuId,
-->
<script id="treeroot-contact-tmpl" type="text/html">
	<div id="<%= clientId %>" class="treeroot contact group row MousePointer">
		<div class="contact-height-dummy fortify">
		</div>
		<div class="contact-avatar fortify"
			style="background-image:url(&#39;<%= avatar %>&#39;)"
		>
		</div>
		<div class="contact-name">
			<%= name %>
		</div>
		<div class="contact-status item-row bar row fortify">
			<div id="<%= messageWaitingId %>">
			</div>
			<div id="<%= presenceId %>">
			</div>
		</div>
		<div class="actions-container">
			<div class="actions bar row end">
				<div class="hide-actions" title="Hide actions">
					<i class="fa fa-fw fa-eye-slash"></i>
				</div>
				<button class="video button" title="Start video chat with..">
					<i class="fa fa-fw fa-video-camera"></i>
				</button>
				<button class="audio button" title="Call / Start voice chat with..">
					<i class="fa fa-fw fa-microphone"></i>
				</button>
				<button class="chat button" title="Open a chat window">
					<i class="fa fa-fw fa-comments"></i>
				</button>
				<button class="remove button danger" title="Remove this contact">
					<i class="fa fa-fw fa-times"></i>
				</button>
			</div>
		</div>
	</div>
</script>

<!-- SUBSCRIPTION
clientId,
contactName,
-->
<script id="subscription-tmpl" type="text/html">
<div id="<%= clientId %>" class="subscription group row">
	<div class="description">
		<span class="text">friend request from:&nbsp;</span>
		<span class="name"><%= contactName %></span>
	</div>
	<div class="subscriber actions-container bar row fortify">
		<button type="button" class="button accept allowSub" title="Graciously accept">
			<i class="fa fa-fw fa-check"></i>
		</button>
		<button type="button" class="button danger denySub" tittle="Politely decline">
			<i class="fa fa-fw fa-close"></i>
		</button>
	</div>
	<div class="action-pending fortify hidden">
		<i class="fa fa-fw fa-spinner fa-pulse"></i>
	</div>
</div>
</script>

<!-- SUBSCRIBEE
clientId,
contactName,
-->
<script id="subscribee-tmpl" type="text/html">
<div id="<%= clientId %>" class="subscription group row">
	<div class="description">
		<span class="text">friend request to:&nbsp;</span>
		<span class="name"><%= contactName %></span>
	</div>
	<div class="subscribee actions-container fortify">
		<button type="button" class="button danger cancelSub" title="Cancel your request">
			<i class="fa fa-fw fa-close"></i>
		</button>
	</div>
	<div class="action-pending fortify hidden">
		<i class="fa fa-fw fa-spinner fa-pulse"></i>
	</div>
</div>
</script>

<!-- TREEROOT PASS RESET QUERY
id,
message,
-->
<script id="treeroot-pass-reset-tmpl" type="text/html">
<form id="<%= id %>" class="Box" autocomplete="off">
	<div class="Message">
		<p>
			<%= message %>
		</p>
	</div>
	<div class="inputs">
		<div>
			{i18n_recovery_key}:
		</div>
		<div class="input-wrap">
			<input type="text" class="recovery-code">
		</div>
		<div>
			{i18n_new_passphrase}:
		</div>
		<div class="input-wrap">
			<input type="password" class="new-pass">
		</div>
	</div>
	<button type="submit">
		{i18n_submit}
	</button>
</form>
</script>


<!-- QUERY-TEXT
id,
message,
value,
-->
<script id="query-text-tmpl" type="text/html">
<form id="<%= id %>" class="Box">
	<div class="Message fortify">
		<p>
			<%= message %>
		</p>
	</div>
	<div class="inputs fortify group row">
		<div class="input-wrap expand">
			<input type="text" value="<%= value %>">
		</div>
		<button type="submit" class="button accept fortify">
			<i class="fa fa-fw fa-sign-in"></i>
			{i18n_submit}
		</button>
	</div>
</form>
</script>


<!-- QUERY-SECURE
id,
message,
placeholder,
-->
<script id="query-secure-tmpl" type="text/html">
<form id="<%= id %>" class="Box">
	<div class="Message fortify">
		<p>
			<%= message %>:
		</p>
	</div>
	<div class="inputs fortify group row">
		<div class="input-wrap expand">
			<input type="password" placeholder="<%= placeholder %>">
		</div>
		<button type="submit" class="button accept fortify">
			<i class="fa fa-fw fa-sign-in"></i>
			{i18n_submit}
		</button>
	</div>
</form>
</script>

<!-- QUERY-PASSWORD
id,
message,
resetLink,

-->
<script id="query-password-tmpl" type="text/html">
<form id="<%= id %>" class="Box">
	<div class="Message fortify">
		<p>
			<%= message %>:
		</p>
	</div>
	<div class="inputs fortify group row">
		<div class="input-wrap expand">
			<input type="password">
		</div>
		<button type="submit" class="button accept fortify">
			<i class="fa fa-fw fa-sign-in"></i>
			{i18n_submit}
		</button>
	</div>
	<div class="query-pass-reset group row start">
		<div>
			{i18n_forgot_your_password}
		</div>
		<div class="button pass-reset">
			<i class="fa fa-fw fa-recycle"></i>
			{i18n_reset}
		</div>
	</div>
</form>
</script>


<!-- QUERY-SECURE-CONFIRM
id,
description,
-->
<script id="query-secure-confirm-tmpl" type="text/html">
<form id="<%= id %>" class="Box">
	<div class="Message fortify">
		<p>
			<%= message %>
		</p>
	</div>
	<div class="inputs fortify group row">
		<div class="input-wrap expand">
			<input type="password">
		</div>
		<button type="submit" class="button accept fortify">
			<i class="fa fa-fw fa-sign-in"></i>
			{i18n_submit}
		</button>
	</div>
</form>
</script>

<!-- QUERY-HOST-ERR
id,
error,
host,
-->
<script id="query-host-err" type="text/html">
<form id="<%= id %>" class="Box">
	<div class="Message fortify">
		<p>
			Remote host error: <%= error %>. Retrying..
		</p>
	</div>
	<div class="query-retry-countdown LED">
		<div class="query-retry-bar On">
		</div>
	</div>
	<div class="inputs fortify group row">
		<div class="input-wrap expand">
			<input type="text" value="<%= host %>">
		</div>
		<button type="submit" class="button accept fortify">
			<i class="fa fa-fw fa-repeat"></i>
			{i18n_retry_now}
		</button>
	</div>
</form>
</script>

<!-- INFO-MISSING
id,
-->
<script id="info-missing-tmpl" type="text/html">
<div id="<%= id %>" class="module-info Box Info">
	<div class="">
		<p>
			{i18n_an_account_can_be}
		</p>
		<p>
			{i18n_you_can_choose}
		</p>
		<p>
			{i18n_if_you_have_already}
		</p>
	</div>
	<div class="Buttons group row tighten">
		<button type="button" class="button accept science group row">
			<i class="fa fa-fw fa-flask"></i>
			{i18n_automatic}
		</button>
		<button type="button" class="button account group row">
			<i class="fa fa-fw fa-user-plus"></i>
			{i18n_create_an_account}
		</button>
		<button type="button" class="button settings group row">
			<i class="fa fa-fw fa-sign-in"></i>
			{i18n_i_have_an_account}
		</button>
	</div>
</div>
</script>

<!-- HOST-UNREACHABLE
id,
host,
-->
<script id="host-unreachable-tmpl" type="text/html">
<form id="<%= id %>" class="Box Info group row">
	<div class="Message fortify">
		{i18n_could_not_connect_to}:
	</div>
	<div class="inputs fortify group row">
		<div class="input-wrap expand">
			<input type="text" value="<%= host %>">
		</div>
		<button type="submit" class="button accept fortify">
			<i class="fa fa-fw fa-refresh"></i>
			{i18n_try_again}
		</button>
	</div>
</form>
</script>

<!-- INVALID-IDENTITY
id,
login,
-->
<script id="invalid-identity-tmpl" type="text/html">
<form id="<%= id %>" class="Box Info group row">
	<div class="Message fortify">
		{i18n_invalid_login}:
	</div>
	<div class="inputs fortify group row">
		<div class="input-wrap expand">
			<input type="text" value="<%= login %>">
		</div>
		<button type="submit" class="button accept fortify">
			<i class="fa fa-fw fa-user"></i>
			{i18n_try_again}
		</button>
	</div>
</form>
</script>

<!-- ERROR-RECONNECT
id,
-->
<script id="error-reconnect-tmpl" type="text/html">
<div id="<%= id %>" class="Box Error group row tighten">
	<div class="Message">
		{i18n_there_was_a_problem}
	</div>
	<div class="Buttons group row tighten">
		<button type="button" class="button reconnect-now">
			<i class="fa fa-fw fa-refresh"></i>
			{i18n_reconnect_now}
		</button>
	</div>
</div>
</script>

<!-- OFFLINE-RECONNECT
id,
-->
<script id="offline-reconnect-tmpl" type="text/html">
<div id="<%= id %>" class="Box Info group row tighten">
	<div class="Message">
		{i18n_module_is_offline}
	</div>
	<div class="Buttons group row tighten">
		<button type="button" class="button reconnect">
			<i class="fa fa-fw fa-bolt"></i>
			{i18n_connect}
		</button>
	</div>
</div>
</script>

<!-- PRESENCE 
clientId,
title,
connStateId,
createRoomId,
optionId,
contactsId,
-->
<script id="simple-presence-module-tmpl" type="text/html">
<div id="<%= clientId %>" class="module bar column BorderBottom">
	<div class="module-head group row fortify MousePointer">
		<div id="<%= connStateId %>" class="fortify">
		</div>
		<div class="title-container expand flex-reset">
			<div class="module-title">
				<%= title %>
			</div>
		</div>
		<div class="actions group row">
			<button id="<%= createRoomId %>" class="button" type="button" title="Create room">
				<i class="fa fa-fw fa-plus-square"></i>
			</button>
			<button id="<%= optionId %>" class="button" type="button">
				<i class="fa fa-fw fa-cog"></i>
			</button>
		</div>
	</div>
	<div id="<%= contactsId %>" class="contacts ZebraList Interactive">
	</div>
</div>
</script>

<!-- PRESENCE ROOM
clientId,
name,
roomStatusId,
liveStatusId,
msgWaitingId,
-->
<script id="presence-room-tmpl" type="text/html">
<div id="<%= clientId %>" class="contact group row MousePointer">
	<div class="contact-height-dummy fortify">
	</div>
	<button class="button show-set-name fortify hidden" title="Set a name and save room">
		<i class="fa fa-fw fa-edit"></i>
	</button>
	<form class="room-name-form expand group row hidden">
		<div class="input-wrap expand">
			<input type="text" placeholder="name room">
		</div>
		<button class="button submit-room-name accept" type="submit" title="Save room">
			<i class="fa fa-fw fa-save"></i>
		</button>
		<button class="button danger hide-set-name" type="button" title="Cancel">
			<i class="fa fa-fw fa-close"></i>
		</button>
	</form>
	<div class="contact-name expand">
		<%= name %>
	</div>
	<div class="contact-status item-row bar row fortify">
		<div id="<%= msgWaitingId %>">
		</div>
		<div id="<%= liveStatusId %>">
		</div>
		<div id="<%= roomStatusId %>">
		</div>
	</div>
	<div class="actions-container">
		<div class="actions bar row end">
			<div class="hide-actions" title="Hide actions">
				<i class="fa fa-fw fa-eye-slash"></i>
			</div>
			<button class="settings button hidden" title="Room settings">
				<i class="fa fa-fw fa-cog"></i>
			</button>
			<button class="live-video button" title="Join live session with video/audio">
				<i class="fa fa-fw fa-video-camera"></i>
			</button>
			<button class="live-audio button" title="Join live session with audio">
				<i class="fa fa-fw fa-microphone"></i>
			</button>
			<button class="chat button" title="Open chat">
				<i class="fa fa-fw fa-comments"></i>
			</button>
			<button class="leave button danger" title="Leave room">
				<i class="fa fa-fw fa-times"></i>
			</button>
		</div>
	</div>
</div>
</script>

<!-- PRESENCE QUERY HAS ACCOUNT
id,
createId,
haveId,
-->
<script id="presence-ask-account-tmpl" type="text/html">
<form id="<%= id %>" class="Box">
	<div class="Message">
		<p>
			{i18n_no_presence_login}
		</p>
	</div>
	<div class="inputs group row">
		<button type="button" class="button" id="<%= createId %>">
			<i class="fa fa-fw fa-cube"></i>
			{i18n_create_new}
		</button>
		<button type="button" class="button" id="<%= haveId %>">
			<i class="fa fa-fw fa-cube"></i>
			{i18n_use_existing}
		</button>
	</div>
</form>
</script>

<!-- PRESENCE QUERY CREATE ACCOUNT
id,
host,
login,
-->
<script id="presence-create-account-tmpl" type="text/html">
<form id="<%= id %>" class="Box">
	<div class="Message">
		<p>
			{i18n_create_a_new_presence_account}
		</p>
	</div>
	<div class="inputs">
		<div class="input-wrap expand">
			<input type="text" class="login" value="<%= login %>" placeholder="login">
		</div>
		<div class="input-wrap expand">
			<input type="text" class="passphrase" value="" placeholder="passphrase">
		</div>
		<button type="submit" class="button accept fortify">
			<i class="fa fa-fw fa-sign-in"></i>
			Submit
		</button>
	</div>
</form>
</script>

	</div>
</body>
