<!DOCTYPE>
<html>
	<head>
		<script src="
			/webclient/js/utils/events.js;
			webclient/apps/FriendChat/scripts/component/tool.js;
			webclient/apps/FriendChat/api/view.js;
			webclient/apps/FriendChat/scripts/component/parser.js;
			webclient/apps/FriendChat/scripts/component/drop.js;
			webclient/apps/FriendChat/scripts/component/common.js;
			webclient/apps/FriendChat/scripts/component/viewComponent.js;
			webclient/apps/FriendChat/scripts/view/presence/component.js;
			webclient/apps/FriendChat/scripts/view/presence/presence.js
		" type="text/javascript"></script>

		<link type="text/css" rel="stylesheet" href="
			../css/common.css;
			webclient/apps/FriendChat/css/emojii.css;
			webclient/apps/FriendChat/css/linkExpand.css;
			webclient/apps/FriendChat/css/presence.css
		">
	</head>
	<body>
		
		<div id="fragments" class="hidden">
		
<!-- body

-->
<script id="body-tmpl" type="text/html">
<div id="hello" class="conference bar column BackgroundDefault">
	<div id="head" class="BorderBottom fortify group row">
		<div id="room-title" class="expand">
		</div>
		<div id="live-status-container" class="fortify">
		</div>
		<div id="room-actions" class="fortify">
			<div class="actions fortify group row">
				<button id="settings-btn"
					class="IconButton button hidden"
					title="{i18n_open_channel_settings}"
					type="button"
				>
					<i class="fa fa-fw fa-cog"></i>
				</button>
				<button id="upgrade-to-video"
					class="IconButton button"
					title="{i18n_go_live}"
					type="button"
				>
					<i class="fa fa-fw fa-video-camera"></i>
				</button>
				<button id="upgrade-to-audio"
					class="IconButton button"
					title="{i18n_go_live}"
					type="button"
				>
					<i class="fa fa-fw fa-microphone"></i>
				</button>
				<button id="show-hide-btn"
					class="IconButton button"
					title="{i18n_show_hide_userlist}"
					type="button"
				>
					<i class="fa fa-fw fa-users"></i>
				</button>
			</div>
		</div>
	</div>
	<div id="main" class="main expand group row cover BorderBottom">
		<div id="message-container" class="expand">
			<div id="messages" class="SelectableText">
			</div>
		</div>
		<div id="users-container" class="fortify group column cover BackgroundHeavy">
			<div id="users-position" class="expand">
				
			</div>
		</div>
	</div>
	<div id="foot" class="group row fortify cover">
		<div id="emojii-panel-button" class="button flat fortify center-child">
			<i class="fa fa-fw fa-smile-o"></i>
		</div>
		<form id="input-form" action="" class="bar row cover expand">
			<div id="attachment" class="button flat fortify center-child">
				<i class="fa fa-fw fa-paperclip"></i>
			</div>
			<div id="typing-hint" class="center-child">
				<i class="fa fa-fw fa-keyboard-o"></i>
			</div>
			<div id="input-container" class="expand">
				<!-- input component goes here -->
			</div>
			<div id="chat-submit" class="button flat fortify center-child">
				<i class="fa fa-fw fa-paper-plane"></i>
			</div>
		</form>
	</div>
	<div id="user-css" class="hidden">
	</div>
</div>
</script>

<!-- Group title
id,
roomName,
-->
<script id="group-title-tmpl" type="text/html">
<div id="<%= id %>" class="group row start">
	<div class="group-prefix fortify">
		#
	</div>
	<div class="title-name expand">
		<%= roomName %>
	</div>
</div>
</script>

<!-- Contact title
id,
statusId,
avatarCssKlass,
contactName,
-->
<script id="contact-title-tmpl" type="text/html">
<div id="<%= id %>" class="group row start <%= avatarCssKlass %>">
	<div class="avatar fortify">
		<div id="<%= statusId %>" class="avatar-status">
		</div>
	</div>
	<div class="title-name expand">
		<%= contactName %>
	</div>
</div>
</script>

<!-- LiveStatus
peersId,
-->
<script id="live-status-tmpl" type="text/html">
<div class="live-status group row hidden Box">
	<div class="live-status-icon LED">
		<i class="fa fa-fw fa-video-camera Available"></i>
	</div>
	<div id="<%= peersId %>" class="live-status-peers group row">
	</div>
</div>
</script>

<!-- LiveStatusPeer
id,
avatarKlass,
-->
<script id="live-status-peer-tmpl" type="text/html">
<div id="<%= id %>" class="live-status-peer <%= avatarKlass %>">
	<div class="avatar">
	</div>
</div>
</script>

<!-- log fetcher
id,
-->
<script id="log-fetch-tmpl" type="text/html">
<div id="<%= id %>" class="log-fetch">
	<div class="log-fetch-msg group row start hidden">
		<i class="fa fa-fw fa-circle-o-notch fa-spin"></i>
		<div>
			{i18n_checking_for_log}
		</div>
	</div>
	<div class="log-no-logs hidden">
		{i18n_end_of_history}
	</div>
</div>
</script>

<!-- time envelope
id,
date,
-->
<script id="time-envelope-tmpl" type="text/html">
<div id="<%= id %>" class="time-envelope">
	<div class="envelope-head group row">
		<div class="envelope-splitter BorderTop expand">
		</div>
		<div class="envelope-date fortify">
			<%= date %>
		</div>
		<div class="envelope-splitter BorderTop expand">
		</div>
	</div>
</div>
</script>


<!-- message group
msgId,
userKlass,
bgKlass,
from,
time,
message,
editKlass,
-->
<script id="msg-group-tmpl" type="text/html">
<div id="<%= msgId %>" class="msg-item msg-group 
							  <%= userKlass %> 
							  <%= bgKlass %> 
							  ">
	<div class="group-container group row left">
		<div class="avatar fortify">
		</div>
		<div class="msg-container expand">
			<div class="msg-meta">
				<div class="name"><%= from %></div>
			</div>
			<div class="group row left">
				<div class="str hidden"><%= original %></div>
				<div class="message expand"><%= message %></div>
				<div class="edit-msg Button IconButton fortify center-child <%= editKlass %>">
					<i class="fa fa-fw fa-edit"></i>
				</div>
				<div class="time fortify">
					<%= time %>
				</div>
			</div>
		</div>
	</div>
	<div class="system-container">
	</div>
</div>
</script>

<!-- message
msgId,
bgKlass
time,
editKlass,
-->
<script id="msg-tmpl" type="text/html">
<div id="<%= msgId %>" class="msg-item msg <%= bgKlass %>">
	<div class="msg-container group row left">
		<div class="avatar blank fortify"></div>
		<div class="str hidden"><%= original %></div>
		<div class="message expand"><%= message %></div>
		<div class="edit-msg Button IconButton fortify center-child <%= editKlass %>">
			<i class="fa fa-fw fa-edit"></i>
		</div>
		<div class="time fortify">
			<%= time %>
		</div>
	</div>
	<div class="system-container">
	</div>
 </div>
</script>

<!-- action
TODO : id,
from,
original,
message,
time,
-->
<script id="action-tmpl" type="text/html">
<div class="msg Action group row">
	<div class="msg-icon fortify center-child">
		<i class="fa fa-fw fa-asterisk"></i>
	</div>
	<div class="str hidden"><%= original %></div>
	<div class="message expand"><%= message %></div>>
	<div class="time fortify">
		<%= time %>
	</div>
</div>
</script>

<!-- TODO move to system fragments, its used in atleast two views -->
<!-- notification
level,
original,
message,
time,
-->
<script id="chat-notie-tmpl" type="text/html">
<div class="msg">
	<div class="notice <%= level %> group row">
		<div class="icon fortify">
			<i class="fa fa-fw fa-exclamation-circle"></i>
		</div>
		<div class="str hidden"><%= original %></div>
		<div class="message expand"><%= message %></div>
		<div class="time fortify">
			<%= time %>
		</div>
	</div>
</div>
</script>

<!-- system message
type,
icon,
message,
time,
-->
<script id="system-msg-tmpl", type="text/html">
<div class="msg <%= type %>">
	<div class="group row">
		<div class="msg-icon fortify center-child">
			<i class="fa fa-fw <%= icon %>"></i>
		</div>
		<div class="time fortify">
			<%= time %>
		</div>
	</div>
	<div class="str"><%= message %></div>
</div>
</script>

<!-- edit message ui
multiId
-->
<script id="edit-msg-ui-tmpl" type="text/html">
<div class="edit-msg-ui">
	<div id="<%= multiId %>" class="edit-wrap">
	</div>
	<div class="actions group row end">
		<button class="edit-cancel Button">
			<i class="fa fa-fw fa-close"></i>
			{i18n_discard_changes}
		</button>
		<button class="edit-submit Button Accept">
			<i class="fa fa-fw fa-check"></i>
			{i18n_save_changes}
		</button>
	</div>
</div>
</script>

<!-- UserCtrl

-->
<script id="user-ctrl-tmpl" type="text/html">
<div id="user-groups" class="">
	<div id="user-ctrl-detached" class="hidden">
	</div>
</div>
</script>

<!-- UserGroup
clientId,
name,
sectionKlass,
usersId
-->
<script id="user-group-tmpl" type="text/html">
<div id="<%= clientId %>" class="hidden">
	<div class="section-head <%= sectionKlass %>">
		<%= name %>
	</div>
	<div id="<%= usersId %>" class="ZebraList Interactive">
	</div>
</div>
</script>

<!-- GroupUser
id,
name,
-->
<script id="user-list-item-tmpl" type="text/html">
<div id="<%= id %>" class="user-item group row MousePointer">
	<div class="name expand">
		<%= name %>
	</div>
	<div class="state fortify center-child">
		<i class="fa fa-fw"></i>
	</div>
</div>
</script>

<!-- user css
clientId,
klassName,
avatar,
-->
<script id="user-css-tmpl" type="text/html">
<style id="<%= clientId %>-style">
.<%= klassName %> .avatar {
	background-image : url("<%= avatar %>");
}
</style>
</script>

<!-- emojii-panel
id,
-->
<script id="emojii-panel-tmpl" type="text/html">
<div id="<%= id %>" class="emojii-panel hidden group row allow-wrap Box">
</div>
</script>

<!-- emojii-panel-item
itml
-->
<script id="emojii-item-tmpl" type="text/html">
<div class="emojii-item fortify center-child">
	<%= itml %>
</div>
</script>

		</div>
	</body>
</html>
