<!DOCTYPE>
<html>
	<head>
		<script src="
			/webclient/apps/FriendChat/scripts/component/common.js;
			webclient/apps/FriendChat/api/view.js;
			webclient/apps/FriendChat/scripts/view/settings/base.js;
			webclient/apps/FriendChat/scripts/view/settings/presence-room.js
		" type="text/javascript"></script>
		
		<link rel="stylesheet" href="
			../../css/common.css;
			webclient/apps/FriendChat/css/settings/base.css;
			webclient/apps/FriendChat/css/settings/presence-room.css
		" type="text/css">
	</head>
	<body id="hello" class="settings BackgroundDefault bar column">
		<div id="fragments">
		
<!-- assigned workgroups
label,
itemsHTML,
statusHTML,
-->
<script id="setting-assigned-worgs-tmpl" type="text/html">
<form id="worgs" class="setting group row baseline">
	<div class="label fortify">
		<%= label %>:
	</div>
	<div class="input expand group row baseline">
		<div id="worgs-items">
			<%= itemsHTML %>
		</div>
		<%= statusHTML %>
	</div>
</form>
</script>

<!-- worg
id,
checked,
label,
-->
<script id="setting-worg-item-tmpl" type="text/html">
<div class="checker worg-item group row">
	<div class="toggle fortify">
		<input id="<%= id %>" type="checkbox" <%= checked %>>
	</div>
	<label class="check-name expand" for="<%= id %>">
		<%= label %>
	</label>
</div>
</script>

<!-- authorized
label,
itemsHTML,
statusHTML,
-->
<script id="setting-authorized-tmpl" type="text/html">
<form id="authorized" class="setting group row baseline">
	<div class="label fortify">
		<%= label %>:
	</div>
	<div class="input expand group row baseline">
		<div id="auth-items" class="ZebraList expand">
			<%= itemsHTML %>
		</div>
		<%= statusHTML %>
	</div>
</form>
</script>

<!-- auth-item
id,
avatar,
name,
-->
<script id="setting-auth-item-tmpl" type="text/html">
<div id="<%= id %>" class="auth-item group row start">
	<div class="item-avatar fortify" style="background-image:url(&#39;<%= avatar %>&#39;)">
	</div>
	<div class="item-name expand">
		<%= name %>
	</div>
	<div class="fortify item-remove">
		<i class="fa fa-fw fa-close"></i>
	</div>
</div>
</script>

<!-- leave-room
id,
label,
buttLabel,
status,
-->
<script id="setting-leave-room-tmpl" type="text/html">
<form id="<%= setting %>-container" class="setting group row left">
	<div class="label">
		<%= label %>:
	</div>
	<div class="input expand group row end">
		<div class="fortify">
			<button id="<%= setting %>" class="button" type="checkbox">
				<%= buttLabel %>
			</button>
		</div>
		<div class="checklabel">
			&nbsp;
		</div>
		<%= status %>
	</div>
</form>
</script>

<!-- leave-room-warning
id,
label,
buttLabel,
warning,
status,
-->
<script id="setting-leave-room-warning-tmpl" type="text/html">
<form id="<%= setting %>-container" class="setting group row left">
	<div class="label">
		<%= label %>:
	</div>
	<div class="input expand group row end">
		<div class="leave-warning">
			<%= warning %>
		</div>
		<div class="fortify">
			<button class="butt-cancel button hidden">
				{i18n_cancel}
			</button>
			<button id="<%= setting %>" class="butt-leave button">
				<%= buttLabel %>
			</button>
		</div>
		<div class="checklabel">
			&nbsp;
		</div>
		<%= status %>
	</div>
</form>
</script>

		</div>
	</body>
</html>
