#hello {
	height: 100%;
}

#worgs > div,
#worgs-items
{
	max-width: 100%;
}

.settings {
	width      : 100%;
	padding    : 1em 0;
	overflow-x : hidden;
}

.setting {
	padding : 0.3em 0.5em;
}

.label {
	min-width     : 8.5em;
	padding-right : 0.5em;
	text-align    : left;
	line-height   : 2em;
}

.input {
	overflow      : hidden;
}

.status {
	width : 2em;
}

.status i {
	width      : 100%;
	text-align : center;
}

.wrap input {
	width         : 100%;
	text-overflow : ellipsis;
}

.nubmer {
	
}

.number .wrap {
	max-width: 5em;
}

.number input {
	text-align: right;
}

.checker {
	
}

.wrap textarea {
	width : 100%;
	height : 6em;
	resize : none;
}

.setting.singlecheck {
	
}

.setting.singlecheck .checklabel {
	line-height: 2em;
}

.item-name {
	padding-left : 0.5em;
}

.label,
.item-name,
.check-name {
	overflow      : hidden;
	text-overflow : ellipsis;
}
